.dashboard-button {
    font-size: 1.2em;
    margin-bottom: 15px;
    width: 100%;
    height: 120px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.dashboard-icon {
    font-size: 2em; /* Large icons */
    margin-bottom: 10px;

}

.dashboard-button:hover {
    text-decoration: none;
    color: rgb(9, 12, 12);
    transform: scale(1.1);
}

.dashboard-panel {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 9px 16px rgba(17, 2, 2, 0.2);
    max-width: 1200px;

}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 25px;
	
}

.captains-image {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: 0 auto;

}

.dashboard-container-fluid {
	height: 100 vh;
}

.dashboard-row {
	height: 100 vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr auto;
	column-gap: 1em;
	row-gap: 1em;
}


.dashboard-column-1 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-2 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-3 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-4 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-5 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-6 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-7 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-8 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-9 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-10 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-11 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.settingsform-admin {
        
	padding: 20px;
	border-radius: 15px;
}
.settingsform-admin .form-check-label {
	color: #000000; /* Ensuring labels are readable against the dark background */
}
