table {
    width: 100%;
    table-layout: fixed; /* Use a fixed table layout */
    border-collapse: collapse; /* Optional: for cleaner borders */
}

th, td {
    padding: 8px; /* Adjust padding for readability */
    text-align: left;
    word-wrap: break-word; /* Ensure text wraps within the cell */
}

th {
    background-color: #555; /* Optional: for better header contrast */
    color: #fff;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.folder-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.tab-content {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;    
}

/* Spacing between form groups */
.form-group {
    margin-bottom: 20px; /* Adjust spacing as needed */
}

/* Control width of the library dropdown */
#libraryUuid {
    width: auto; /* Adjust to make it fit content or set a max-width */
    display: inline-block; /* Makes width auto-adjust to content */
    max-width: 100%; /* Prevents it from extending beyond its container */
    min-width: 100px; /* Adjust to make it fit content or set a min-width */
}


.loading-spinner {
    position: fixed; /* or absolute */
    top: 5%;
    left: 5%;
}
.loading-spinner img {
    border-radius: 15px;

}
/* Ensure the loading spinner is hidden by default */
#loadingSpinner,
#loadingSpinnerManual {
    display: none; /* Hidden by default */
}

/* Styles for the global spinner (Unmatched Folders tab) */
#globalSpinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Table in Unmatched Folders tab */
.table {
    border-radius: 15px;
}



.folder-item:hover {
    background-color: #1671cd; /* Light gray background on hover, change as needed */
    cursor: pointer; /* Changes the mouse cursor to a pointer to indicate it's clickable */
    padding: 1px;
    border-radius: 10px;
}

.scanandbrowse {
    
    padding: 5px;
    
}



.container-unmatched-buttons {
    display: flex;
    flex-direction: row;
    gap: 25px;
}
