body {
    background-image: url('/static/newstyle/gamecontroller.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    color: white;
}

.h2 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    
.container-settings {
    min-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 12px;
    color: white;
}


.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 20px;
    margin-right: 10px;
    border: 2px solid #ecf0f1;
}

.user-name {
    font-weight: bold;
}

.user-expand-icon {
    margin-left: 7px;
    transition: transform 0.3s ease;
}

.user-account-menu {
    display: none;
    padding: 10px;
    bottom: 40px;
}

.account-menu-option {
    display: block;
    padding: 5px;
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color 0.2s ease;
    border-radius: 15px;
}

.account-menu-option i {
    width: 20px;
    margin-right: 8px;
    text-align: center;
}

.account-menu-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: #ecf0f1;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.container-serverstatus-version {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-top: 10px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1.3rem;
    text-align: center;
}


.button-login {
font-size: large;
    
}


.button-login:hover {
    font-weight: bold;
        
}


.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}



.container-base {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}


.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */

}

.content-login {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 40px 60px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px 30px;
    border-radius: 15px;
}




.label-large-text {
    font-size: 22px; /* Adjust the size as needed */
}



.login-logo {
    width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    align-self: center;
    
}

.flash {
    color: white;
    font-size: 16px;
    animation: flash-color 1s linear infinite;
}

@keyframes flash-color {
    0%   {background-color: rgb(47, 47, 47);}
    25%  {background-color: rgb(138, 138, 137);}
    50%  {background-color: rgb(100, 99, 99);}
    75%  {background-color: rgb(89, 91, 89);}
    100% {background-color: rgb(31, 31, 31);}
}


.form-text {
   
    background-color: white;
    border-radius: 4px;
    padding-left: 10px;
   }
      
.form-control {

   line-height: 1.1;
}

.group-game-details {
    display: flex;
    flex-direction: row;
}



.input-glass {
    width: 95%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: black;
    margin: 3px;
    margin-left: 3px !important;
    height: 38px;
    box-shadow: inset 1px 3px 5px rgb(41, 37, 37);
}


/* Apply box shadow to all input fields */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="search"],
form input[type="number"],
form input[type="date"],
form input[type="tel"],
form input[type="url"],
form input[type="time"],
form input[type="range"],
form input[type="color"],
form select, /* Don't forget your select elements if you want to style them too */
form textarea {
  box-shadow: inset 1px 3px 5px rgb(41, 37, 37);
  
  /* Other styling properties */
}


.logo-download {
    display: flex;
    justify-content: center;
    height: 250px;
}


.glass-panel {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    justify-content: space-between;
    box-shadow: 0 9px 16px rgba(17, 2, 2, 2);
    padding-bottom: 50px;
}

.emptyrating {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 5px;
}




.glass-panel-addgame {
    background-color: hsl(207, 19%, 55%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    
    max-width: 700px;
    margin: 25px;
}

.glass-panel-addgame-top {
    display: flex;
    flex-direction: row;
    gap: 30px;
}



.status-value {
    color: #18b2dd;
    font-weight: bold;
    background-color: #e8ffe8; 
    border: 2px solid #004c00; 
    padding: 2px 6px; 
    border-radius: 4px; 
    font-weight: bold;

}


.form-text-muted {

    font-size: smaller;
    color: black;
}



.invalid-input {
    border: 2px solid red;
}

.search-result-item {
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding: 5px;
    margin-bottom: 2px;
}

.search-result-item:hover {
    transform: translateY(-2px);
    background-color: lightgreen;
}

.breadcrumbs {
    font-size: 35px;
    font-weight: bold;
}



/* Style for the popup menu */
.popup-menu {
    position: absolute;
    background-color: #2e2929;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 12;
}

.menu-item {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu-item:hover, .menu-item button:hover, .menu-item a:hover {
    background-color: #505563;
}


.menu-item button {
    background: none;
    border: none;
    color: #ddd;
    cursor: pointer;
    padding: 8px 15px;
    width: 100%;
    text-align: left;
}

.menu-item button:hover {
    background-color: #333;
}


.menu-item a {
    color: inherit; /* Make sure the link color matches the surrounding text color */
    text-decoration: none; /* Ensures no underline */
}


.table-userlist {  
    font-size: 16px;
    border-radius: 15px;
}

.dropdown-perpage {
    position: relative;
    min-width: 40px;
    max-width: 75px;
    padding: 8px;
    border-radius: 15px;
    background-color: rgb(14, 21, 39);
    cursor: pointer;
    margin-left: 5px;
    color: white;

}


.dropdown-perpage:focus {
    outline: none;
    border-color: #007bff;
}

.dropdown-perpage option {
    padding: 5px 10px;
}


.animated-entry {
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 8px solid #7389ea;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;  
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content Box */
  .modal-content {
    background-color: black;
    color: white;
    margin: 25% auto;
    padding: 20px;

    
  }


  /* Modal Content Box */
  .modal-content-search {
    background-color: black;
    color: white;
    margin: 25% auto;
    padding: 20px;
    border: 15px solid black;
    width: 80%;
  }


.delete-game-modal .modal-content {
    border: 20px solid #ff0000;
    border-radius: 15px;
}


.delete-game-modal h2 {
    color: #ff0000;
}


@media (max-width: 600px) {
    .menu {
        flex-direction: column;
    }
    .button-glass {
        font-size: 12px;
        margin-bottom: 10px;
        width: auto;
        min-width: 80px;
        justify-content: center;
        padding: 3px;
    }
    .content-restricted {
        padding: 7px;
        margin-left: 0;    
    }
    
    
    .content-restricted-textblock {
        padding: 7px;    
       

    }
    .button-glass i {
        margin-right: 0;
    }
    .container-base {
        margin: 10px;
        padding: 10px;
    }

    .menu {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .screenshot-gallery, .game-videos-row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container-buttons-login {
       flex-direction: column;
    }
    .button-login {
        font-size: medium;
        height: 45px;
    }
    .input-glass {
        width: 200px;
    }
    .game-video {
        width: 100%;
        height: auto;
    }
    .login-logo {
        width: 60px;
    }

    .container-content {
        background-color: #161e25;
        padding-top: 20px;
        padding-left: 20px;
        border-radius: 15px;
        color: #ddd;
        margin-top: 15px;
        text-align: justify;
        
    }    
    #content {
        margin-left: 70px;
    }
    
    .sidebar {
        max-width: 90px;
        padding: 0px 0px;
    }

    .sidebar-link {
        margin: 0px;
        padding: 0px 0px;
        font-size: 14px;
    }

    .sidebar-link .link-text {
        margin-left: 0px;
    }
     
    .sidebar-menu
    .sidebar.collapsed .menu-logo-image {
        height: 50px;
        margin-top: 15px;
        margin-left: 5px;
        align-self: flex-start;
    }

    .sidebar.collapsed .sorting-dropdown {
        margin: 10px;
    }

    .sidebar.collapsed #sortSelect {
        height: 25px;
        width: 65px
    }

    .sidebar.collapsed .form-control {
        margin-top: 3px;
        margin-right: 0px;
        margin: 0px;
        width: 65px;
        height: 25px;
    }
 

    .sidebar.collapsed .form-group {
        text-size-adjust: 10px;
    }

    .sidebar.collapsed .container-filtersandsort {
        visibility: hidden;
    }

    .sidebar.collapsed .sidebar-menu {
        margin: 0px;  
    }


    .sidebar.collapsed .sidebar-link {
        padding-left: 5px;
        transition: font-size 28px ease;
    }

}
