__pycache__
config.py
config.portainer
.env
/db_data/
/db_data/*
app.db
instance/app.db
/logs/*
/logs
/modules/static/zips/
/modules/static/zips/*
/modules/static/images/*.jpg
/venv
modules/static/library