__pycache__
config.py
config.portainer
config.backup
config.py.backup
.env
.env.bak
/db_data/
/db_data/*
app.db
instance/app.db
/logs/*
/logs
/modules/static/zips/
/modules/static/zips/*
modules/static/library/images
/modules/static/images/*.jpg
/venv
/.codebuddy
/.codebuddy/*
.codebuddy
*.zip
/.git
/.github
config.py
