flask_mail
flask-wtf
flask-sqlalchemy
flask-login
flask-caching
argon2-cffi
pillow
WTForms-SQLAlchemy
requests
psycopg2-binary
discord-webhook
python-dotenv
psutil
tenacity
email-validator
uvicorn[standard]
asgiref
aiofiles

zipstream-new
