flask_mail
flask_wtf
flask_sqlalchemy
flask_login
flask_caching
argon2_cffi
pillow
WTForms_SQLAlchemy
requests
psycopg2_binary
discord_webhook
python_dotenv
psutil
tenacity
email_validator
uvicorn[standard]
asgiref
aiofiles
zipstream_new
howlongtobeatpy

