{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/admin/admin_manage_library_create.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/admin/admin_manage_library_create.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/admin/admin_manage_library_create.css') }}">
{% endif %}

<div class="container">
    <div class="glass-panel">
        <a href="{{ url_for('site.admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
</div>
<div class="admin_manage_library_create-panel container glass-panel">
	<div class="admin_manage_library-header">
		<h2>{{ page_title }}</h2>
	</div>
	<form class="admin_manage_library_create-form" action="" method="post" enctype="multipart/form-data">
		{{ form.hidden_tag() }}
		<div class="admin_manage_library_create-form-name mb-3">
			{{ form.name.label(class="form-label") }}
			{{ form.name(class="form-control") }}
		</div>
		<div class="admin_manage_library_create-form-platform mb-3">
			{{ form.platform.label(class="form-label") }}
			{{ form.platform(class="form-select") }}
		</div>
		<div class="admin_manage_library_create-form-library-image mb-3">
			{{ form.image.label(class="form-label") }}
			{{ form.image(class="form-control", id="imageInput") }}
		</div>
		<div class="admin_manage_library_create-current-platform mb-3">
			<p>Current Platform: {{ library.platform.value if library else 'Not set' }}</p>
		</div>
		<div class="admin_manage_library_create-image mb-3">
			<img id="imagePreview" src="{{ library.image_url if library and library.image_url else url_for('static', filename='newstyle/default_library.jpg') }}" alt="Image preview" style="max-width: 200px;">
		</div>
		<button type="submit" class="admin_manage_library_create-save-btn btn btn-primary">Save Library</button>
	</form>
</div>


<script>
document.getElementById('imageInput').addEventListener('change', function(event) {
    const file = event.target.files[0];
    const maxSize = 10 * 1024 * 1024; // 10MB in bytes
    
    if (file && file.size > maxSize) {
        alert('File is too large! Maximum size is 10MB.');
        event.target.value = ''; // Clear the file input
        document.getElementById('imagePreview').src = '{{ library.image_url if library and library.image_url else url_for("static", filename="newstyle/default_library.jpg") }}';
        return;
    }
    
    if (file) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('imagePreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(file);
    }
});
</script>
{% endblock %}
