{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/admin/admin_branding.css') == True %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/admin/admin_branding.css') }}">
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/admin/admin_branding.css') }}">
{% endif %}

<div class="container-settings-dashboard">
    <div class="hackplanet_titles">
        <h1>Custom Email Templates</h1>
    </div>
    <div class="container">
        <div class="admin-section">
            <h3><i class="fas fa-envelope"></i> Custom Email Templates Settings</h3>
            <p>Placeholder content for custom email templates settings.</p>
        </div>
    </div>
</div>

{% endblock %}
