{% extends "base.html" %}
{% block content %}

<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="stylesheet" href="{{ 'css/admin/admin_manage_smtp_settings.css'|theme_asset }}">

<div class="container">
    <div class="glass-panel">
        <a href="{{ url_for('site.admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
</div>

<div class="container-settings">
    <div class="card">
        <h2>SMTP Settings <button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#smtpHelpModal">
            <i class="fas fa-question-circle"></i>
        </button></h2>

        {% include 'partials/integrations/smtp_form.html' %}
    </div>

<script src="{{ 'js/admin_manage_smtp_settings.js'|theme_asset }}"></script>

{% endblock %}
