{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/admin/admin_debug_api.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/admin/admin_debug_api.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/admin/admin_debug_api.css') }}">
{% endif %}

<div class="admin_debug_api-panel container glass-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="content-flash">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
			<!-- Back to Dashboard Button -->
			<div class="admin_debug_api-container container mt-3">
				<a href="{{ url_for('main.admin_dashboard') }}" class="admin_debug_api-dashboard-btn btn btn-lg btn-primary">Back to Dashboard</a>
			</div>
            <div class="admin_debug_api-header">
				<h1>IGDB API Debugger</h1>
			</div>
            <div class="admin_debug_api-info">
				<p>For API documentation, visit <a href="https://api-docs.igdb.com/#game" target="_blank">IGDB API Docs</a>.</p>
			</div>
            <form class="admin_debug_api-form" method="post">
                {{ form.csrf_token }}
                <div class="admin_debug_api-form-endpoint mb-3">
                    <label for="{{ form.endpoint.id }}" class="form-label">{{ form.endpoint.label }}</label>
                    {{ form.endpoint(class="form-control") }}
                </div>
                <div class="admin_debug_api-form-query mb-3">
                    <label for="{{ form.query.id }}" class="form-label">{{ form.query.label }}</label>
                    {{ form.query(class="form-control") }}
                </div>
                <div>
                    {{ form.submit(class="admin_debug_api-form-submit-btn btn btn-primary") }}
                </div>
            </form>

            {% if api_response %}
            <div style="background-color: black; border-radius: 15px; padding: 20px; margin-top: 15px;">
                <h2 style="color: white;">API Response</h2>
                <pre style="color: white; margin-top: 15px;">{{ api_response | tojson(indent=2) }}</pre>
            </div>
            {% endif %}
            
        </div>
    </div>
</div>
{% endblock %}
