<!-- templates/admin/manage_scans.html -->

{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="/static/css/admin/admin_manage_scanjobs.css">
<meta name="active-tab" content="{{ active_tab }}">

<div class="content-flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

<!-- Back to Dashboard Button -->
<div class="container mt-3">
    <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
</div>

<div class="glass-panel mt-3">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="autoScan-tab" data-bs-toggle="tab" href="#autoScan">Auto Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="manualScan-tab" data-bs-toggle="tab" href="#manualScan">Manual Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="unmatchedFolders-tab" data-bs-toggle="tab" href="#unmatchedFolders">Unmatched Folders</a>
        </li>

    
    </ul>
    

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Auto Scan Tab -->
        <div id="autoScan" class="glass-panel tab-pane active"><br>
            <h3>Automatic Folder Scan</h3>
            {% if libraries|length > 0 %}
            <form action="" method="post">
                {{ auto_form.hidden_tag() }}
                
                <!-- Library Dropdown -->
                <div class="form-group">
                    {{ auto_form.library_uuid.label }}
                    {{ auto_form.library_uuid(class="form-control", id="libraryUuid") }}
                    {% if auto_form.library_uuid.errors %}
                        {% for error in auto_form.library_uuid.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

                    <!-- Scan Mode -->
                    <div class="form-group">
                        {{ auto_form.scan_mode.label }}
                        {% for subfield in auto_form.scan_mode %}
                            <div class="form-check">
                                {{ subfield(class="form-check-input") }}
                                {{ subfield.label(class="form-check-label") }}
                            </div>
                        {% endfor %}
                        {% if auto_form.scan_mode.errors %}
                            {% for error in auto_form.scan_mode.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <!-- Folder Path -->
                    <div class="form-group">
                        {{ auto_form.folder_path.label }}
                        {{ auto_form.folder_path(class="form-control") }}
                        {% if auto_form.folder_path.errors %}
                            {% for error in auto_form.folder_path.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                
                <!-- Scan and Browse Buttons -->

         
            <div class="form-group">
                <button id="browseFoldersBtn" type="button" class="btn btn-info" data-browse-url="{{ url_for('main.browse_folders_ss') }}">Browse Folders</button>
                <button type="submit" name="submit" value="AutoScan" class="btn btn-primary">Start On-Demand Scan</button>
                <div id="loadingSpinner" class="loading-spinner" style="display: none;">
                    <img src="/static/newstyle/searching_small.gif" alt="Loading...">
                </div>
                <button id="upFolderBtn" type="button" class="btn btn-secondary" style="display: none;">Up</button>
                <div id="folderContents" class="scanandbrowse"></div>
            </div>
        </form>
        {% else %}
        <p>You have no Libraries!, go to <a href="{{ url_for('main.libraries') }}">Library Manager</a> and create one.</p>
        {% endif %}
            <div class="glass-panel-scanfolder container mt-4">
                <div class="scanjobs-header-text">
                    <h2>Scan Jobs Management</h2>
                    <p>(You can only have 1 scan job 'Running' at a time!)</p>
                </div>
                
                <form action="{{ url_for('main.clear_all_scan_jobs') }}" method="post">
                     {{ csrf_form.csrf_token }}
                    <input type="submit" value="Clear All" class="btn btn-danger" onclick="return confirm('Delete ALL jobs?');">
                </form>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Library</th>
                            <th>Folder</th>
                            <th>Status</th>
                            <th>Error message</th>
                            <th>Last Run</th>
                            <th>Total folders</th>
                            <th>Games found</th>
                            <th>Failed folders</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="jobsTableBody">
                        <!-- Scan job rows will be dynamically populated here -->
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Manual Scan Tab -->
        <div id="manualScan" class="glass-panel tab-pane fade"><br>
            <h3>Manual Folder Scan</h3>
            <form action="" method="post">
                {{ manual_form.hidden_tag() }}
                <div class="form-group">
                    {{ manual_form.folder_path.label }}
                    {{ manual_form.folder_path(class="form-control", id="manualFolderPath") }}
                                        {% if manual_form.folder_path.errors %}
                        {% for error in manual_form.folder_path.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <button id="browseFoldersBtnManual" type="button" class="btn btn-info">Browse Folders</button>
                    <button type="submit" name="submit" value="ManualScan" class="btn btn-primary">List Games</button>
                    <button id="upFolderBtnManual" type="button" class="btn btn-secondary" style="display: none;">Up</button>

                </div>
            </form>
            <div id="loadingSpinnerManual" class="loading-spinner">
                <img src="/static/newstyle/searching_small.gif" alt="Loading...">
            </div>
            <div id="folderContentsManual"></div>
        

            {% if game_names_with_ids %}
            <br>
            <h4>Found Games:</h4>
            <div class="list-group">
                {% for game in game_names_with_ids %}
                    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        {{ game['name'] }}
                        <!-- Identify Form for each game -->
                        <form action="{{ url_for('main.add_game_manual') }}" method="GET">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <input type="hidden" name="full_disk_path" value="{{ game['full_path'] }}">
                            <input type="submit" class="btn btn-primary btn-sm" value="Identify">
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
            </div>

        <!-- Unmatched Folders Tab -->
        <div id="unmatchedFolders" class="container tab-pane fade"><br>
            <div class="glass-panel">
                <h3>Resolve Unmatched Folders</h3>
                <!-- spinner -->
                <div id="globalSpinner">
                    <img src="{{ url_for('static', filename='/newstyle/pirate_treasure.gif') }}" alt="Loading...">
                </div>

                <div class="container-unmatched-buttons mb-3">
                    <form action="" method="post">
                        {{ csrf_form.csrf_token }}
                        <input type="hidden" name="submit" value="DeleteAllUnmatched">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all entries in the list? This cannot be undone.');">Clear All</button>
                    </form>
                    <form action="" method="post">
                        {{ csrf_form.csrf_token }}
                        <input type="hidden" name="submit" value="DeleteOnlyUnmatched">
                        <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to clear all unmatched folders? This cannot be undone.');">Clear Unmatched</button>
                    </form>
                </div>
                <table class="table" style="border-radius: 15px;">
                    <thead>
                        <tr>
                            <th>Folder Path</th>
                            <th>Status</th>
                            <th>Library</th>
                            <th>Platform</th>
                            <th>Platform ID</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="unmatchedFoldersTableBody">
                        <!-- This will be populated dynamically by JavaScript -->
                    </tbody>
                </table>
                
            </div>

        </div>

        
</div>
<script src="{{ url_for('static', filename='js/scan_management.js') }}"></script>
    
{% endblock %}
