<!-- templates/admin/admin_manage_filters.html -->
{% extends "base.html" %}

{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/admin/admin_manage_filters.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/admin/admin_manage_filters.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/admin/admin_manage_filters.css') }}">
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="glass-panel">
    <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
</div>
<div class="admin_manage_filters-panel glass-panel">

    <div class="admin_manage_filters-header">
		<h2>Edit Release Group Filters</h2>
	</div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="admin_manage_filters-form-group form-group">
            {{ form.rlsgroup.label }} {{ form.rlsgroup() }}
        </div>
        <div class="admin_manage_filters-form-group-case form-group">
            {{ form.rlsgroupcs.label }} {{ form.rlsgroupcs() }}
        </div>
        <div class="admin_manage_filters-form-submit form-group">
            {{ form.submit() }}
        </div>
    </form>
    <hr>
    <h3>Existing Filters</h3>
    <table class="admin_manage_filters-table table table-striped table-hover">
        <thead>
            <tr>
                <th>Release Group</th>
                <th>CS</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.rlsgroup }}</td>
                <td>CS: {{ group.rlsgroupcs }}</td>
                <td><a href="{{ url_for('main.delete_filter', id=group.id) }}" class="admin_manage_filters-remove-btn btn btn-danger btn-sm">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
