<!-- templates/admin/admin_manage_whitelist.html -->
{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/admin/admin_manage_whitelist.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/admin/admin_manage_whitelist.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/admin/admin_manage_whitelist.css') }}">
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="glass-panel">
                <!-- Back to Dashboard Button -->
                <div class="container mt-3">
                    <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
                </div>
    <h1>Pirates allowed on board
        <div class="image-whitelist">
            <img src="/static/newstyle/whitelist.jpg" alt="Pirates allowed on board">
        </div>

    </h1><br>



    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=30, class="input-glass") }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-lg btn-success") }}</p>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in whitelist %}
            <tr>
                <td>{{ entry.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
{% endblock %}
