<!-- in templates/admin/base.html -->
{% extends "base.html" %}

{% block content %}

<div class="content-flash">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="flashes">
      {% for message in messages %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
</div>
<title>Site Admin Page</title>

<div class="glass-panel-text">
<b>Site Admin Page</b>
<br>
Please select a tool from the menu


</div>
{% endblock %}


