<!-- in templates/admin/beta.html -->
{% extends 'base.html' %}

{% block content %}
    <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Beta Features Section -->
    <section>
      <div class="glass-panel-scanfolder">
        <h2>Beta Features</h2>
        
        <a href="{{ url_for('main.api_debug') }}" class="button-glass">API Debugger</a>
      </div> 
    </section>
{% endblock %}
