<!-- in templates/admin/clear_downloads.html -->
{% extends "base.html" %}  
{% block content %}

<div class="content-flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
<div class="glass-panel-scanfolder">
<h2>Download Requests</h2>
You can clear download jobs here that got stuck
{% if download_requests %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Game UUID</th>
                <th>Status</th>
                <th>Zip File Path</th>
                <th>Request Time</th>
                <th>Completion Time</th>
            </tr>
        </thead>
        <tbody>
            {% for request in download_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.user_id }}</td>
                <td>{{ request.game_uuid }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.zip_file_path }}</td>
                <td>{{ request.request_time }}</td>
                <td>{{ request.completion_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No download requests found.</p>
{% endif %}

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</div>
{% endblock %}
