<!-- in templates/admin/clear_downloads.html -->
{% extends "base.html" %}  
{% block content %}

<div class="content-flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
<div class="glass-panel-scanfolder">
            <!-- Back to Dashboard Button -->
            <div class="container mt-3">
                <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
            </div>
<h2>Download Requests</h2>
{% if download_requests %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Game UUID (Part)</th>
                <th>Status</th>
                <th>Zip File Path</th>
                <th>Request Time</th>
                <th>Completion Time</th>
            </tr>
        </thead>
        <tbody>
            {% for request in download_requests %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.user_id }}</td>
                <td>{{ request.game_uuid[:8] }}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.zip_file_path }}</td>
                <td>{{ request.request_time.strftime('%Y-%m-%d %H:%M') if request.request_time else 'N/A' }}</td>
                <td>{{ request.completion_time.strftime('%Y-%m-%d %H:%M') if request.completion_time else 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No download requests found.</p>
{% endif %}

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
</div>
{% endblock %}
