{% extends "base.html" %}  
{% block content %}

<div class="content-flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
<div class="glass-panel-scanfolder">
<h2>Download Requests</h2>
{% if download_requests %}
    <table>
        <tr>
            <th>ID</th>
            <th>User ID</th>
            <th>Game UUID</th>
            <th>Status</th>
            <th>Zip File Path</th>
            <th>Request Time</th>
            <th>Completion Time</th>
        </tr>
        {% for request in download_requests %}
        <tr>
            <td>{{ request.id }}</td>
            <td>{{ request.user_id }}</td>
            <td>{{ request.game_uuid }}</td>
            <td>{{ request.status }}</td>
            <td>{{ request.zip_file_path }}</td>
            <td>{{ request.request_time }}</td>
            <td>{{ request.completion_time }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No download requests found.</p>
{% endif %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.submit() }}
</form>
</div>
{% endblock %}
