<!-- templates/admin/edit_filters.html -->
{% extends "base.html" %}

{% block content %}
<div class="glass-filter-editor">
            <!-- Back to Dashboard Button -->
            <div class="container mt-3">
                <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
            </div>
    <h2>Edit Release Group Filters</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.rlsgroup.label }} {{ form.rlsgroup() }}
        </div>
        <div class="form-group">
            {{ form.rlsgroupcs.label }} {{ form.rlsgroupcs() }}
        </div>
        <div class="form-group">
            {{ form.submit() }}
        </div>
    </form>
    <hr>
    <h3>Existing Filters</h3>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Release Group</th>
                <th>CS</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.rlsgroup }}</td>
                <td>CS: {{ group.rlsgroupcs }}</td>
                <td><a href="{{ url_for('main.delete_filter', id=group.id) }}" class="btn btn-danger btn-sm">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
