{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ 'css/games/playrom.css'|theme_asset }}">

<div class="emulator-container">
    
</div>


<script>
function getquerystring() {
    // read the arguments core and guid from the URL
    var querystring = window.location.search.substring(1);
    var args = querystring.split('&');
    var argsObj = {};
    for (var i = 0; i < args.length; i++) {
        var arg = decodeURIComponent(args[i]);
        if (arg.indexOf('=') == -1) {
            argsObj[arg.trim()] = true;
        } else {
            var kvp = arg.split('=');
            argsObj[kvp[0].trim()] = kvp[1].trim();
        }
    }
    return argsObj;


}
const args = getquerystring();
console.log (args);

</script>

{% endblock %}
