{% extends "base.html" %}
{% block content %}

<div class="content-flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

<!-- Bootstrap Modal for Warning Confirmation -->
<div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="deleteWarningModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteWarningModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all games? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <!-- Updated form action to point to the delete_full_library route with the special keyword -->
                <form action="{{ url_for('main.delete_full_library', library_uuid='KILL_ALL_LIBRARIES') }}" method="post">
                    {{ csrf_form.csrf_token }}
                    <button type="submit" class="btn btn-danger">Confirm Delete All Libraries</button>
                </form>
            </div>
            
        </div>
    </div>
</div>

<!-- Back to Dashboard Button -->
<div class="container mt-3">
    <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
</div>


<div class="container mt-3">
    <h2>Game Libraries</h2>
    <div class="list-group">
        <a href="{{ url_for('main.add_library') }}" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="bg-primary text-white me-3" style="width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; font-size: 24px;">+</div>
            <div>Add Library</div>
        </a>
        {% for library in libraries %}
            <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <div>
                    <img src="{{ library.image_url or url_for('static', filename='default-image.jpg') }}" alt="{{ library.name }}" style="width: 50px; height: 50px; object-fit: cover;" class="me-3 rounded">
                    <span>{{ library.name }} - {{ library.platform.name }}</span>
                </div>
                <form action="{{ url_for('main.delete_full_library', library_uuid=library.uuid) }}" method="post">
                    {{ csrf_form.csrf_token }}
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        {% endfor %}
    </div>
</div>

<div class="glass-panel-scanfolder" style="margin-left: 15px; max-width: 600px;">
    <!-- Include Delete All Games functionality -->
    <div id="deleteLibrary" class="mt-4">
        <h3>Delete All Libraries</h3>
        <p>This action will delete ALL GAMES IN ALL LIBRARIES. Proceed with caution.</p>
        <p>Total # of games currently in all libraries: <strong>{{ game_count }}</strong></p>
        <button id="deleteAllGamesBtn" class="btn btn-danger" data-toggle="modal" data-target="#deleteWarningModal">Delete All Libraries</button>
    </div>

    
</div>
<script src="{{ url_for('static', filename='js/library_manager.js') }}"></script>

{% endblock %}
