{% extends "base.html" %}
{% block content %}
<html>
<body>
<div class="container-base">
    <div class="glass-panel">
        <h1>Help !</h1>
        Thank you for using our website during this closed beta phase.<br>

        <div class="content-textblock-help">
            <div class="content-textblock-help-q1">
                <h2>USER TIPS :</h2>

                <br>
                - You can browse the games library using filters, or search<br>
                - Just type to start searching<br>
                - Downloads are not 'direct downloads', you pick a game and queue it for downloading. The server will prepare a ZIP file for downloading.<br>

                <br>
                <h2>ADMIN TIPS :</h2>

                <br>
                - Use auto folder scanner to scan your games folders<br>
                - Folder scanning will take all subfolders of given path and try to add each of them as games to the library<br>
                - Do not start second job before first one is done<br>
                - You can add any folder your server has access to<br>
                - Game names are automatically cleaned<br>
                - Check unmatched folder manager after scanning is done<br>
				<br>
                </p>
            </div>
            <div class="help-image">
                <img src="{{ url_for('static', filename='newstyle/sharewarez_help.jpg') }}" alt="ShareWareZ Logo" class="help-logo">
            </div>
        </div>
    </div>
</div>


</body>
{% endblock %}