{% extends "base.html" %}
{% block content %}
<html>
<body>
<div class="container-base">
    <div class="glass-panel">
        <h1 class="content-help">Help !</h1>
                    <p>
                            Thank you for using our website during this closed beta phase.<br>
                    <br>
                    - You can browse the games library using filters, or search<br>
                    - Just type to start searching<br>
                    - Downloads are not 'direct downloads', you pick a game and queue it for downloading. The server will prepare a ZIP file for downloading.<br>
                    <br>
					<br>
					ADMIN TIPS :<br>
					<br>
					- Use auto folder scanner to scan your games folders<br>
					- Folder scanning will take all subfolders of given path and try to add each of them as games to the library<br>
					- Do not start second job before first one is done<br>
					- You can add any folder your server has access to<br>
					- Game names are automatically cleaned<br>
					- Check unmatched folder after scanning is done<br>
				<br>
                    </p>
                </div>
            </div>


  </body>

{% endblock %}
