{% extends 'base.html' %}

{% block content %}



<div class="container-base">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        
    {% endif %}
    {% endwith %}

</div>
{% if current_user.is_authenticated %}
<div class="content-restricted">
    <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">

    <div class="content-restricted-textblock">
        Ahoy, {{ current_user.name }}, welcome to ShareWareZ!<br>
        <br>
        Set sail through vast digital seas where treasures abound in every corner. 
        Here, ye can effortlessly chart yer course through libraries brimming with the finest games, each chest filled with images and lore. 
        <br><br>
        Seek and ye shall find with our trusty maps (search and filters), uncovering the jewels of your liking. 
        And fret not, for every treasure is yours for the taking, cracked and ready to embark upon your device. Aye, for we are pirates, and the horizon is ours to explore!<br>
    </div>
    {% else %}
    <div class="content-restricted">
        <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">
        <div class="content-restricted-textblock">
        Welcome to ShareWareZ!<br>
        Please login or register.
    </div>
</div>

    <h1></h1>

    <div class="container-login">
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" class="input-glass" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" class="input-glass" id="password" name="password"><br>
            <div class="button-container">
                <input type="submit" value="LOGIN" class="button-glass">
                <a href="/register" class="button-glass">REGISTER</a>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
