{% extends 'base.html' %}

{% block content %}



<div class="container-base">

        {% if current_user.is_authenticated %}
    <div class="container-builder">
        <h1 class="logo">Oasis</h1>
        <br>
        Welcome back, {{ current_user.name }}!<br>
    </div>
    {% else %}
    <div class="speech-bubble ai">
        Welcome to the Oasis!<br>
        Please login or register.
    </div>

    <h1></h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}
    <div class="container-login">
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" class="input-glass" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" class="input-glass" id="password" name="password"><br>
            <div class="button-container">
                <input type="submit" value="LOGIN" class="button-glass">
                <a href="/register" class="button-glass">REGISTER</a>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
