{% extends 'base.html' %}

{% block content %}



<div class="container-base">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
        {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
            </div>
        </div>
    {% endif %}
    {% endwith %}

    
        {% if current_user.is_authenticated %}
    <div class="container-content">
        <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">

        <h1 class="logo">ShareWarez</h1>
        <br>
        Welcome back, {{ current_user.name }}!<br>
    </div>
    {% else %}
    <div class="content">
        <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">

        Welcome to ShareWareZ!<br>
        Please login or register.
    </div>

    <h1></h1>

    <div class="container-login">
        <form action="/login" method="post">
            <label for="username">Username:</label><br>
            <input type="text" class="input-glass" id="username" name="username"><br>
            <label for="password">Password:</label><br>
            <input type="password" class="input-glass" id="password" name="password"><br>
            <div class="button-container">
                <input type="submit" value="LOGIN" class="button-glass">
                <a href="/register" class="button-glass">REGISTER</a>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
