{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + 'css/site/site_help.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + 'css/site/site_help.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/site/site_help.css') }}">
{% endif %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<div class="container-base">
    <div class="glass-panel help-content">
        <h1>Help / FAQ</h1>
        <p class="intro">Thank you for participating in our closed beta phase. This guide will help you navigate and make the most of our platform.</p>

        <section class="user-tips">
            <h2>User Guide</h2>
            <ul>
                <li>Browse our extensive games library using filters or the search function.</li>
                <li>Simply start typing to initiate a search.</li>
                <li>Game downloads are queued for processing. Once selected, our server will prepare a ZIP file for you to download.</li>
            </ul>
        </section>
        <div class="help-image">
            <img src="{{ url_for('static', filename='newstyle/sharewarez_help.jpg') }}" alt="ShareWareZ Logo" class="help-logo">
        </div>
        {% if current_user.is_authenticated and current_user.role == 'admin' %}
        <section class="admin-tips">
            <h2>Administrator Guide</h2>
            <ul>
                <li>Utilize the auto folder scanner to efficiently scan your game directories.</li>
                <li>The folder scanner will process all subfolders within the specified path, attempting to add each as a game to the library.</li>
                <li>Ensure each scanning job is completed before initiating another to avoid conflicts.</li>
                <li>You have the flexibility to add any folder accessible by your server.</li>
                <li>Game names are automatically sanitized for consistency.</li>
                <li>After scanning, review the unmatched folder manager for any discrepancies.</li>
            </ul>
        </section>
        {% endif %}


    </div>
</div>
{% endblock %}