{% extends "base.html" %}

{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/settings/settings_profile_view.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/settings/settings_profile_view.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/settings/settings_profile_view.css') }}">
{% endif %}

<div class="container my-4">
    <div class="mb-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    
    </div>
    <div class="content-restricted-textblock">
        <h2>Pirate Profile</h2>
        <div>
            <img src="{{ url_for('static', filename=current_user.avatarpath) }}" alt="User Avatar" class="settings_profile_view-user-avatar">
        </div>
        <div class="settings_profile_view-userinfo">
            <p><strong>Name:</strong> {{ current_user.name }}</p>
            <p><strong>Email:</strong> {{ current_user.email }}</p>
            <p><strong>About:</strong> {{ current_user.about }}</p>
            <p><strong>Invites:</strong> {{ remaining_invites }} out of {{ total_invites }}</p>
        </div>
        <div class="settings_profile_view-edit-button">
            <a href="{{ url_for('main.settings_profile_edit') }}" class="btn btn-primary">Edit Profile</a>
        </div>
        <div class="settings_profile_view-welcome">
            <p>Ahoy, {{ current_user.name }}, welcome to ShareWareZ!</p>
            <p>Set sail through vast digital seas where treasures abound in every corner. Here, ye can effortlessly chart yer course through libraries brimming with the finest games, each chest filled with images and lore.</p>
            <p>Seek and ye shall find with our trusty maps (search and filters), uncovering the jewels of your liking. And fret not, for every treasure is yours for the taking, cracked and ready to embark upon your device. Aye, for we are pirates, and the horizon is ours to explore!</p>
        </div>
    </div>
</div>

{% endblock %}
