{% extends "base.html" %}

{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/settings/settings_profile_view.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/settings/settings_profile_view.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/settings/settings_profile_view.css') }}">
{% endif %}

<div class="container my-4">
    <div class="mb-3">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    
    </div>
    <div class="content-restricted-textblock">
        <h2>Pirate Profile</h2>
        <div>
            <img src="{{ url_for('static', filename=current_user.avatarpath) }}" alt="User Avatar" class="settings_profile_view-user-avatar">
        </div>
        <div class="settings_profile_view-userinfo">
            <p><strong>Name:</strong> {{ current_user.name }}</p>
            <p><strong>Email:</strong> {{ current_user.email }}</p>
            <p><strong>Role:</strong> {{ current_user.role|title }}</p>
            <p><strong>Member Since:</strong> {{ current_user.created.strftime('%B %d, %Y') }}</p>
            <p><strong>About:</strong> {{ current_user.about }}</p>
            <p><strong>Invites:</strong> {{ remaining_invites }} out of {{ total_invites }}</p>
        </div>
        <div class="settings_profile_view-edit-button">
            <a href="{{ url_for('main.settings_profile_edit') }}" class="btn btn-primary">Change Avatar</a>
        </div>

    </div>
</div>

{% endblock %}
