.glass-panel {
	border-radius: 0px;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	min-width: 900px;
}

.glass-panel h1{
	margin-top: 20px;
}

.image-whitelist img {
    width: 150px;
    border-radius: 15px;
	margin-top: 15px;

}
.image-whitelist {
    display: flex;
    align-items: flex-end;
	margin-top: 20px;
}

.container {
	width: 100%;
    overflow: hidden;
	margin-left: 0px !important;
	--bs-gutter-x: 0rem;

}

.btn-primary {
	padding: 10px 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px;
    text-decoration: none;
	
}

.btn-primary:hover {
    background: gray;
	border-color: black;
	
}

.btn-primary:active {
    background: darkgray !important;
	border-color: black !important;
	
}

.btn-success {
	border-radius: 0px;
	margin-top: 10px;
}


.table {
	margin-top: 15px;
}

.input-glass {
	border-radius: 0px;
	width: 100%;
	margin-top: 10px;
	width: 25%;
	box-shadow: inset 2px 2px 1px 1px rgb(41, 37, 37) !important;
}

.input-group{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 15px;
}

.form-control {
	width: 25% !important;
	margin-top: 20px;
}