.admin_debug_api-panel {
	display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0px;
    padding: 20px;
    margin: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    justify-content: space-between;
    box-shadow: 0 9px 16px rgba(17, 2, 2, 2);
    padding-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	min-width: 900px;
}

.admin_debug_api-container {
	width: 100%;
	margin: 0px;
    overflow: hidden;
	
}

.admin_debug_api-dashboard-btn {
	padding: 10px 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px; 
    text-decoration: none;
}

.admin_debug_api-dashboard-btn:hover {
    background: gray;
	border-color: black;
	
}

.admin_debug_api-dashboard-btn:active {
    background: darkgray !important;
	border-color: black !important;
	
}

.admin_debug_api-header {
	margin-left: 20px;
	margin-top: 20px;
	
}

.admin_debug_api-info {
	margin-left: 20px;
}

.admin_debug_api-form{
	
}

.admin_debug_api-form-endpoint {
	margin-left: 20px;
	margin-bottom: 10px;
}

.admin_debug_api-form-query {
	margin-left: 20px;
	margin-bottom: 10px;
}

.admin_debug_api-form-submit-btn {
	padding: 10px 15px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px; 
    text-decoration: none;
	margin-left: 20px;
	margin-top: 15px;
}

.admin_debug_api-form-submit-btn:hover {
    background: gray;
	border-color: black;
	
}

.admin_debug_api-form-submit-btn:active {
    background: darkgray !important;
	border-color: black !important;
	
}