.glass-panel {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
}

.input-glass {
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn-primary {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 10px;
}

.btn-danger {
	margin-top: 10px;
}

.settings_password-password{
	margin-left: 5px;
}