.dashboard-button {
    font-size: 1.5em; /* Large text for buttons */
    margin-bottom: 10px;
    max-width: 150px;
    min-width: 100px;
    min-height: 150px;
    color: aliceblue;
}

.dashboard-icon {
    font-size: 2em; /* Large icons */
    margin-bottom: 10px;
    padding: 15px;
}

.dashboard-button:hover {
    text-decoration: none;
    color: rgb(9, 12, 12);
    transform: scale(1.1);
}

.dashboard-panel {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    justify-content: space-between;
    box-shadow: 0 9px 16px rgba(17, 2, 2, 2);
    padding-bottom: 50px;
    width: 680px;

}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
	
}

.captains-image {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    border-radius: 15px;

    display: block;
    margin: 0 auto;

}

.dashboard-container-fluid {
	height = 100 vh;
}

.dashboard-row {
	height = 100 vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr auto;
	column-gap: 1em;
	row-gap: 1em;
}
}

.dashboard-column-1 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-2 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-3 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-4 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-5 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-6 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-7 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-8 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-9 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}

.dashboard-column-10 {
	grid-column: auto;
	align-items: stretch;
	display: flex;

}
