.game-library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    
}

.library-filters {
    margin-top: 25px;
}


.modal-backdrop {
    position: inherit;
}

.modal-backdrop.show {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}


.popup-game-details {
    position: absolute;
    top: 0%;
    width: 260px;
    z-index: 5;
    background: #2a2c35;
    padding: 15px 15px;
    animation: fadein 0.5s;
    display: none;
    border-radius: 5px;
}

.screenshot-slide img {
    border-radius: 5px;
}

.popup-game-details img {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.popup-game-details:not(.hidden) {
    display: block;
}


.game-info-box {

    background: #2a2c35;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    animation: fadein 0.5s;
    height: 95%;
}

.game-name {
    font-size: 1.2rem;
    color: #ffffff;

}

.game-name, .game-size, .game-genres {
    margin-bottom: 5px;
    margin-left: 0px;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 25px;
    font-size: 0.8rem;
    line-height: 25px;
    border-radius: 25px;
    background-color: #4a4e69;
    color: #ffffff;
    margin: 2px;
    white-space: nowrap;
}

.file-size-chip {
    background-color: #6272a4;
    max-width: 25%;
    margin-bottom: 10px;
}

.breadcrumbs {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.search-result.selected {
    background-color: #007bff;
    color: white;
}

.rating-slider {
    
    max-width: 100%;
}

.hidden {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


