.game-library-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    
}

.game-card {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.game-cover {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}


.game-cover:hover {

}

.game-card:hover  {
    transform: scale(1.05);
    z-index: 10;
}

.button-glass-hamburger {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    z-index: 11; /* Ensure this is above the .game-cover's z-index during hover */
    background-color: rgba(128, 128, 128, 0.7); /* Grey background with some transparency */
    border-radius: 50%; /* Makes it circular */
    padding: 1px 2px; /* Adjust size as needed */
    border: none; /* Removes default button border */
    cursor: pointer;
}



.button-glass-hamburger:hover {
    background-color: rgba(128, 128, 128, 0.9); /* Slightly darker on hover */
}

.button-glass-hamburger i {
    color: white; /* Ensure icon is visible against the grey background */
    
}

.popup-game-details {
    position: absolute;
    top: 0%;
    width: 260px;
    z-index: 100;
    background: #2a2c35;
    padding: 15px 15px;
    animation: fadein 0.5s;
    display: none;
}



.popup-game-details img {
    max-width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.popup-game-details:not(.hidden) {
    display: block;
}


.game-info-box {

    background: #2a2c35;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    animation: fadein 0.5s;
    height: 95%;
}

.game-name {
    font-size: 1.2rem;
    color: #ffffff;

}

.game-name, .game-size, .game-genres {
    margin-bottom: 5px;
    margin-left: 0px;
}

.chip {
    display: inline-block;
    padding: 0 15px;
    height: 25px;
    font-size: 0.8rem;
    line-height: 25px;
    border-radius: 25px;
    background-color: #4a4e69;
    color: #ffffff;
    margin: 2px;
    white-space: nowrap;
}

.file-size-chip {
    background-color: #6272a4;
    max-width: 25%;
    margin-bottom: 10px;
}

.breadcrumbs {
    font-size: 2.2rem;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}


.hidden {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}


