.sidebar {
    height: 100%;
    width: 210px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 10px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    margin-right: 5px;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.9) 95%, rgba(17, 17, 17, 0));
}

.sidebar.collapsed {
    width: 95px; 
    margin-left: -10px;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end; 

}

.sidebar-menu {
   
}

.sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    font-size: 22px;
    color: #ddd;
    transition: font-size 0.3s ease; 

    padding-left: 20px;
    padding-right: 10px;

    padding-bottom: 5px;
    justify-content: left;
    position: relative;
    margin-bottom: 3px;
}


.sidebar-link i {
    min-width: 25px; 
}

.sidebar-link .link-text {
    display: inline-block;
    margin-left: 10px;
    transition: opacity 0.5s ease, visibility 0.5s; 
    opacity: 1;
}

.sidebar-link::after {
    content: attr(title);
    position: absolute;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(125%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}


.sidebar-link, .sidebar-sublink {
    transition: font-size 0.3s ease;
}

.sidebar-link:hover, .sidebar-sublink:hover {
    
}

.toggle-sidebar {
    background: none;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;

}


#content {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 180px;
}

#content.collapsed {
    margin-left: 30px;
}

.icon-chevron {
    display: inline-block;
    transition: transform 0.3s ease;
}


.icon-chevron {
    transform: rotate(180deg);
}


.sidebar.collapsed .icon-chevron {
    transform: rotate(0deg);
}

.sidebar.collapsed .sidebar-link::after {
    display: none;
}

.sidebar.collapsed .link-text {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 0;
    overflow: hidden;
    display: inline-block;
    visibility: hidden;
    margin-left: 0; 
}

.sidebar-sublink {
    display: block;
    color: #ddd;
    padding: 8px 15px;
    font-size: 14px;
    text-decoration: none !important;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.sidebar-sublink:hover {
    background-color: #333;
}

.sidebar-sublink .sidebar-sublink {
    margin-left: 40px;
    font-size: 13px;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.sidebar-link.has-submenu.open + .submenu {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}



.content-help-kadertje {
    max-width: 800px;
    margin: 0 auto;
    background-color: #111;
    padding: 20px;
}

.menu-logo-image {
    display: flex;
    height: 150px;
    background-image: url('/static/newstyle/sharewarez_pirate_small.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

.menu-logo-image img {
    border-radius: 17px;    

}


.sidebar.collapsed .menu-logo-image {
    height: 50px;
    margin-top: 15px;
    margin-left: 5px;
    align-self: flex-start;
}

.sidebar.collapsed .sorting-dropdown {
    margin: 10px;
}

.sidebar.collapsed #sortSelect {
    height: 25px;
    width: 65px
}

.sidebar.collapsed .form-control {
    margin-top: 3px;
    margin-right: 0px;
    margin: 0px;
    width: 65px;
    height: 25px;
}

.sidebar.collapsed .form-group {
    text-size-adjust: 10px;
}

.sidebar.collapsed .container-filtersandsort {
    visibility: hidden;
}

.sidebar.collapsed .sidebar-menu {
    margin: 0px;  
}


.sidebar.collapsed .sidebar-link {
    padding-right: 19px;
  font-size: 33px;
  transition: font-size 33px ease;
}