
body {
    background-image: url('/static/newstyle/starry.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    color: white;
}


.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu a {
    color: white;
    text-decoration: none;
}

.button-pagination-glass {

    width: 6%;
    gap: 2px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

}

.button-pagination-glass:hover {

    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.button-pagination-glass active {
    background-color: #000;
    color: green;
}

.button-glass {
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px; 
    text-decoration: none;
}

.button-glass:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


.button-glass i {
    margin-right: 8px;
}

.button-glass.button-delete:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.button-glass-delete:hover {
    color: white;
    background-color: #ff6961;
}

.button-glass-chat,
.button-glass-view,
.button-glass-edit,
.button-glass-delete {

    padding: 5px 5px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px; 

}


.button-glass-chat:hover,
.button-glass-view:hover,
.button-glass-edit:hover,
.button-glass-delete:hover {

    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}


.formlabels {
    color: #ffffff;
    margin: 5px;
}



.container-base {
    margin: 5px;
    padding: 5px;
    backdrop-filter: blur(5px);
    
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.container-browser {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;    
}

.container-builder {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    margin: 20px; 

}

.checkbox-glass {
    
    color: white;

}

.flash {
    color: white;
    font-size: 16px;
    animation: flash-color 1s linear infinite;
}

@keyframes flash-color {
    0%   {background-color: rgb(47, 47, 47);}
    25%  {background-color: rgb(138, 138, 137);}
    50%  {background-color: rgb(100, 99, 99);}
    75%  {background-color: rgb(89, 91, 89);}
    100% {background-color: rgb(31, 31, 31);}
}





.container-chatbotcards {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    
}

.form-group {

 margin: 10px;
}

.role-container {
    display: flex;
    justify-content: space-between;
    }

.role-box {
    width: 45%;
    height: 75px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 8px solid transparent;
    border-color: grey;
    margin-top: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.role-box.highlight {
    border-color: gold;
}



.container-tagbuttons {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 10px;
}

.chatroom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: white; 
    font-size: 1.2rem;
}

.chatroom-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.chatroom-messages-glass {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 10px;
}

.chatroom-container-input {
    

}

.input-glass {
    width: 95%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: black;
    margin: 5px;
}

.input-glass-checkbox {

    background: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin: 15px;
}


.speech-bubble-help {
    padding: 0px 30px;
    
    border-radius: 20px;
    max-width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: white;
    white-space: pre-wrap;
}


.speech-bubble {
    padding: 10px 10px;
    border-radius: 20px;
    line-height: 1.2;
    max-width: 80%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 5px 0;
}

.speech-bubble.user {
    background: rgba(100, 149, 237, 0.4); 
    align-self: flex-end;
     margin-left: auto;
}

.speech-bubble.ai {
    background: rgba(144, 238, 144, 0.4);
    align-self: flex-start;

}

/* Avatar Styling */
.container-chat-avatar-user img,
.container-chat-avatar-ai img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.premium-banner {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 180px;
    top: 190px;
}



.formatted-message {
    color: #000;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}


.chatroom-messages-glass {
    display: flex;
    flex-direction: column;
}


.user, .ai {

}




.codeblockz {
    background: rgba(255, 255, 255); 
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
    max-width: 75%;
}


.formatted-code * {
    background: white;
}

.title-codeblock {
    background-color: #000000;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.copy-code-button {

    color: white;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 2px 2px 4px rgba(175, 161, 161, 0.5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    background: rgb(175, 174, 174, 0.4);
    transition: transform 0.3s;

}

.copy-code-button:hover {
    background-color:rgb(101, 183, 101);
}



.chatroom-messages-glass {
    padding: 20px;
    overflow-y: scroll;
}


.speech-bubble.ai::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: rgba(144, 238, 144, 0.5);
    border-left: 0;
    margin-top: -10px;
    transform: translate(0, -50%);
}

.speech-bubble.user::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -10px; 
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: rgba(100, 149, 237, 0.5); 
    border-right: 0;
    margin-top: -10px;
    transform: translate(0, -50%);
}

.password-input {

    display: block;
    padding: 10px;
    height: 10px;
    width: 80%;
    background-color: white;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;

}

.glass-panel {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.glass-panel-text {

    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.glass-panel-text-usrmgr {
    @extend .glass-panel-text;
    width: 500px;
}




.chatbot-card {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 265px;


  }



  .chatbot-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .profile_avatar img {

    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;


  }

.chatbot-avatar {
  width: 220px; 
  height: 220px;
  border-radius: 5%;
  border: 1px solid rgb(0, 0, 0);
}



.chatbot-details {
    flex: 1;
    margin-left: 20px;
}


.chatbot-info {
    display: flex;
    flex-direction: column;
}

.chatbot-name {
    display: flex;
    justify-content: center; 
    color: white;
    font-size: 1.4rem; 
    margin: 0px;
    padding-bottom: 10px;
}

.chatbot-voting {
    
    justify-content: center;
    color: white;
    font-size: 1.4rem; 

}


.container-active-tags {

    color: white;

}

.active-tag {

    color: rgb(53, 221, 53);
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px; 
}



.chatbot-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
    color: rgb(177, 177, 218);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tag {
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.85); 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(5px); 
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.tag:hover {

    color: white;
    background-color: #000;
}


.chatbot-tags.clicked {
    background-color: darkblue; 
    color: white;
}

.chatbot-actions {
    display: flex;
    align-items: flex-end;
}


.chatbot-interact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favorite-container {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.favorites-only-input {

    font-size: 2.2rem;
    margin-left: 8px;
}

.favorite-icon {
    color: pink;
    cursor: pointer;
    transition: color 0.3s ease;
    display: block;
    margin: 0 auto;
    
}

.favorite-icon:hover {
    
    font-size: 2.5rem; 
    color: #ffcccb; 
}


.vote-button {
    background: transparent;
    border: none;
    
    font-size: 1rem;
    transition: transform 0.3s;
    cursor: pointer;
}


.vote-button.red {
    background-color: darkred; 
}

.vote-button:hover {
    transform: scale(1.1); 
}

.vote-button:disabled {
    color: grey; 
    cursor: not-allowed;
}

.vote-button:hover:not(:disabled) {
    transform: scale(1.1);
}

.rating-value {
    color: white;
    font-size: 1rem;
    margin: 5px 0;
}

  
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 8px solid #7389ea;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;  
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/* Responsive Design */
@media (max-width: 600px) {
    .menu {
        flex-direction: column;
    }
    .button-glass {
        font-size: 14px; /* Hides the text */
        margin-bottom: 10px;
        width: auto; /* Adjust the width as needed */
        min-width: 80px;
        justify-content: center; /* Center the icon */
    }
    .button-glass i {
        margin-right: 0; /* Remove margin since there's no text */
    }
    .container-base {
        margin: 10px;
        padding: 10px;
    }
    .button-pagination-glass {
        padding: 0px 8px;
        justify-content: left; /* Center the icon */
        margin: 2px;
        width: auto; /* Adjust the width as needed */
    }
    .menu {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; /* Center the icon */
    }
}
