
body {
    background-image: url('/static/newstyle/gamebackdrop2.png'); 
    background-size: cover;
    background-repeat: no-repeat;

    font-family: Arial, sans-serif;
    color: white;
}

.h2 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu a {
    color: white;
    text-decoration: none;
}

.button-pagination-glass {

    width: 6%;
    gap: 2px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

}

.button-pagination-glass:hover {

    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.button-pagination-glass active {
    background-color: #000;
    color: green;
}

.button-glass {
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px; 
    text-decoration: none;
}

.button-glass-mini {
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 10px; 
    text-decoration: none;
    white-space: nowrap;
}


.button-glass:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
 
}

.button-glass-mini:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: green;
}

.button-glass i {
    margin-right: 8px;
}

.button-glass.button-delete:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

.button-glass-delete:hover {
    color: white;
    background-color: #ff6961;
}

.button-glass-chat,
.button-glass-view,
.button-glass-edit,
.button-glass-delete {

    padding: 5px 5px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s;
    font-size: 1rem;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px; 

}


.button-glass-chat:hover,
.button-glass-view:hover,
.button-glass-edit:hover,
.button-glass-delete:hover {

    transform: translateY(-3px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}


.formlabels {
    color: #ffffff;
    margin: 5px;
}




.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.game-card {
    border: 3px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.game-card img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.game-image {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.cover-image {

    width: 200px;
}

.screenshot-image {
    width: 200px;
}

.container-base {
    margin: 5px;
    padding: 5px;
    backdrop-filter: blur(5px);
    
    border-radius: 10px;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.container-browser {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;    
}

.container-builder {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    margin: 20px; 

}

.checkbox-glass {
    
    color: white;

}

.flash {
    color: white;
    font-size: 16px;
    animation: flash-color 1s linear infinite;
}

@keyframes flash-color {
    0%   {background-color: rgb(47, 47, 47);}
    25%  {background-color: rgb(138, 138, 137);}
    50%  {background-color: rgb(100, 99, 99);}
    75%  {background-color: rgb(89, 91, 89);}
    100% {background-color: rgb(31, 31, 31);}
}


.form-text {
   
    background-color: white;
    border-radius: 4px;
    padding-left: 10px;
   }
      
.form-group {

 margin: 10px;
}


.role-container {
    display: flex;
    justify-content: space-between;
    }

.role-box {
    width: 45%;
    height: 75px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 8px solid transparent;
    border-color: grey;
    margin-top: 10px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.role-box.highlight {
    border-color: gold;
}


.input-glass {
    width: 95%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: black;
    margin: 5px;
}

.input-glass-checkbox {

    background: rgba(255, 255, 255, 0.05);
    border: none;
    padding: 10px;
    border-radius: 8px;
    color: white;
    margin: 15px;
}


.formatted-message {
    color: #000;
    padding: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.password-input {

    display: block;
    padding: 10px;
    height: 10px;
    width: 80%;
    background-color: white;
    box-shadow: inset 1px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px;

}

.glass-panel {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.glass-panel-scanfolder {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: left;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 75%;

}

.game-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px; /* Adjust spacing as needed */
    border: 1px solid white;
    border-radius: 15px;
}


.game-name {
    flex-grow: 1;
    margin-left: 15px;
}

.game-cell {
    font-weight: bold;
    color: #efeaea;
    padding: 20px;
}

.status-value {
    color: #007bff; 
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9)
}

.form-text-muted {

    font-size: smaller;
    color: black;
}

.status-cell {
 
}

.actions-cell {
 
}

.table-downloads {
    background-color: hsl(207, 22%, 36%);
    width: 80% ;
    border-radius: 15px;
    min-width: 640px;
    color: black;
    font-weight: bold;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.9)
}

.group-game-details {
    display: flex;
    flex-direction: row;
}

.glass-panel-gamedetails-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.glass-panel-scanfolder-fg {
    background-color: hsl(207, 22%, 36%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px;
}


.glass-panel-addgame {
    background-color: hsl(207, 19%, 55%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    width: 1000px;
    margin: 25px;
}

.group-images-gamedetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.images-game-details {
    width: 400px;

}

.invalid-input {
    border: 2px solid red;
}

.search-result-item {
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding: 5px;
    margin-bottom: 2px;
}

.search-result-item:hover {
    transform: translateY(-2px);
    background-color: lightgreen;
}


.glass-grid-panel {
    display: flex;
    flex-direction: column;
    background: rgba(68, 84, 93, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.glass-panel-text {

    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.glass-panel-text-usrmgr {
    @extend .glass-panel-text;
    width: 500px;
}

.breadcrumbs {

    font-size: 35px;
    font-weight: bold;

}



  .profile_avatar img {

    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;


  }


  
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 8px solid #7389ea;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;  
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




/* Responsive Design */
@media (max-width: 600px) {
    .menu {
        flex-direction: column;
    }
    .button-glass {
        font-size: 14px; /* Hides the text */
        margin-bottom: 10px;
        width: auto; /* Adjust the width as needed */
        min-width: 80px;
        justify-content: center; /* Center the icon */
    }
    .button-glass i {
        margin-right: 0; /* Remove margin since there's no text */
    }
    .container-base {
        margin: 10px;
        padding: 10px;
    }
    .button-pagination-glass {
        padding: 0px 8px;
        justify-content: left; /* Center the icon */
        margin: 2px;
        width: auto; /* Adjust the width as needed */
    }
    .menu {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center; /* Center the icon */
    }
}
