.content-textblock-usermanager {
    flex: 1;
    background-color: #000000;
    padding: 15px;
    border-radius: 15px;
    color: #ddd;
    margin-top: 15px;
    overflow-x: auto; /* Add horizontal scrolling */
}

table {
    width: 100%;
    table-layout: fixed; /* Use a fixed table layout */
    border-collapse: collapse; /* Optional: for cleaner borders */
}

th, td {
    padding: 8px; /* Adjust padding for readability */
    text-align: left;
    word-wrap: break-word; /* Ensure text wraps within the cell */
}

th {
    background-color: #555; /* Optional: for better header contrast */
    color: #fff;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.folder-item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.tab-content {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;    
}

.scanjobs-header-text {
    padding-left: 15px;
    padding-top: 10px;
    justify-content: space-between;
}

/* Spacing between form groups */
.form-group {
    margin-bottom: 20px; /* Adjust spacing as needed */
}

/* Control width of the library dropdown */
#libraryUuid {
    width: auto; /* Adjust to make it fit content or set a max-width */
    display: inline-block; /* Makes width auto-adjust to content */
    max-width: 100%; /* Prevents it from extending beyond its container */
    min-width: 100px; /* Adjust to make it fit content or set a min-width */
}


.loading-spinner {
    position: fixed; /* or absolute */
    top: 5%;
    left: 5%;
}
.loading-spinner img {
    border-radius: 15px;

}

