<!-- in templates/settings_password.html -->

{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ 'css/settings/settings_password.css'|theme_asset }}">

<div class="glass-panel">
    <h2>Change Yer Secret Password!</h2>
    <form id="password-form" action="{{ url_for('settings.account_pw') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="settings_password-password">
                New Password
            </div>
            <div class="settings_password-password-form">
                <div class="password-input-wrapper">
                    {{ form.password(class_="input-glass", id="password") }}
                    <button type="button" class="toggle-password" data-input="password">
                        <i id="eye-password" class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
            
            <div class="settings_password-password">
                Confirm Password
            </div>
            <div class="settings_password-password-form">
                <div class="password-input-wrapper">
                    {{ form.confirm_password(class_="input-glass", id="confirm_password") }}
                    <button type="button" class="toggle-password" data-input="confirm_password">
                        <i id="eye-confirm" class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Save">
        <button type ="reset" class="btn btn-danger" onclick="location.reload()">Cancel</button>
    </form>
    <script src="{{ url_for('static', filename='library/themes/' + current_theme + 'js/password_visibility.js') }}"></script>
</div>

</div>
{% endblock %}
