{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/login/confirmation_invalid.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/login/confirmation_invalid.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/login/confirmation_invalid.css') }}">
{% endif %}

<div class="container-login">
    <div class="content-login">
        <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">
        <h1 class="logo">Invalid Link</h1>
        <p>The link you've sailed upon is marooned. Check your map (email) for the rightful path or signal (request) a new voyage (activation link).</p>
        <!-- Button to request a new activation link -->
        <a href="{{ url_for('auth.request_new_activation') }}" class="btn btn-success">Request New Link</a>
    </div>
</div>
{% endblock %}

