{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/login/confirmation_expired.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/login/confirmation_expired.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/login/confirmation_expired.css') }}">
{% endif %}

<div class="container-login">
    <div class="content-login">
        <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">
                <h1>Link Expired</h1>
                <p>The confirmation link is invalid or has expired. Please request a new activation link.</p>
                <!-- Add a link to request a new activation link if necessary -->
    </div>
</div>
{% endblock %}
