{% extends 'base.html' %}




{% block content %}
<link rel="stylesheet" href="/static/css/login.css">

<div class="container-login">
    <div class="content-login">
        {% if current_user.is_authenticated %}
        <div class="container-builder">Welcome back, {{ current_user.name }}!</div>
        {% else %}
        <h1></h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

            <div class="container-base">
                <div class="container-builder">
                    <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">

                </div>
            </div>
            <div class="container-content">
                <form action="/login" method="post">
                    {{ form.hidden_tag() }}
                    <label for="username" class="label-large-text">Pirate name:</label><br>
                    <input type="text" class="input-glass" id="username" name="username"><br>
                    <label for="password" class="label-large-text">Secret Password:</label><br>
                    <input type="password" class="input-glass" id="password" name="password"><br>
                    
                    <div class="container-buttons-login">
                        <input type="submit" value="Login" class="btn btn-primary button-login">
                        <a href="/register" class="btn btn-primary button-login">Sign up</a>
                        <a href="{{ url_for('main.reset_password_request') }}" class="btn btn-danger button-login">Forgot Password?</a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>


{% endif %}

{% endblock %}
