{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/login/registration.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/login/registration.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/login/registration.css') }}">
{% endif %}

<html>
<head>
    <title>Registration</title>
</head>
<body>

    <div class="container-login">

                <div class="content-login">
                    <img src="{{ url_for('static', filename='newstyle/sharewarez_pirate.png') }}" alt="ShareWareZ Logo" class="login-logo">

                    <h2 style="text-align: center; margin-top: 5px;">Register now!</h1>
                        (You can only register if your email has been whitelisted)



                        <form action="{{ url_for('login.register', token=request.args.get('token')) }}" method="post">

                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.username.label }}
                            {{ form.username(class_="input-glass") }}
                        </div>
                        <div class="form-group">
                            {{ form.email.label }}
                            {{ form.email(class_="input-glass") }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label }}
                            {{ form.password(class_="input-glass") }}
                        </div>
                        <input type="submit" value="Register" class="btn btn-success">
                    </form>
                </div>
        </div>
    </div>
</body>
{% endblock %}
