{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/login/registration_already_confirmed.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/login/registration_already_confirmed.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/login/registration_already_confirmed.css') }}">
{% endif %}


<div class="container-base">
    <div class="messages">
        <div class="ai">
            <div class="speech-bubble ai">
                <h1>Already Confirmed</h1>
                <p>Your account is already activated. You can log in and continue using our services.</p>
                <a href="{{ url_for('main.login') }}" class="btn btn-success">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
