{% extends "base.html" %}
{% block content %}
<div class="container-base">
    <div class="messages">
        <div class="ai">
            <div class="speech-bubble ai">
                <h1>Reset Password</h1>
                <p>Please enter your email address to receive a link to reset your password.</p>
                <form action="{{ url_for('main.reset_password_request') }}" method="post" style="margin: 10px; padding: 10px;">
                    {{ form.hidden_tag() }}
                    <input type="email" name="email" placeholder="Enter your email">
                    <input type="submit" value="Request Password Reset">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}