{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/login/reset_password.css') == True %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/login/reset_password.css') }}">
{% else %}
	<link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/login/reset_password.css') }}">
{% endif %}


<div class="container-base">
    <div class="glass-panel">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                    {{ message }}<br>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <div class="messages">
            <div class="ai">
                <div class="speech-bubble ai">
                    <h1>Reset Password</h1>
                    <p>Please enter your new password and confirm it.</p>
                    <form action="{{ url_for('login.reset_password', token=token) }}" method="post">
                        {{ form.csrf_token }}
                        <input type="password" name="password" placeholder="New Password">
                        <input type="password" name="confirm_password" placeholder="Confirm Password">
                        <input type="submit" value="Reset Password">
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
