{% extends "base.html" %}
{% block content %}
<div class="container-base">
    <div class="messages">
        <div class="ai">
            <div class="speech-bubble ai">
                <h1>Reset Password</h1>
                <p>Please enter your new password and confirm it.</p>
                <form action="{{ url_for('main.reset_password', token=token) }}" method="post">
                    {{ form.csrf_token }}
                    <input type="password" name="password" placeholder="New Password">
                    <input type="password" name="confirm_password" placeholder="Confirm Password">
                    <input type="submit" value="Reset Password">
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
