.sidebar {
    height: 100%;
    width: 210px; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 10px 10px 10px 10px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    margin-right: 5px;
    background: linear-gradient(to right, rgba(17, 17, 17, 0.9) 95%, rgba(17, 17, 17, 0));
}

.sidebar-link:hover {
    border: 1px solid #ffffff;
    border-radius: 15px;
    background-color: #333;
}

.sidebar.collapsed {
    width: 95px; 
    margin-left: -10px;
}

.sidebar-header {
    display: flex;
    justify-content: flex-end; 

}

.sidebar-link {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    font-size: 22px;
    color: #ddd;
    transition: font-size 0.3s ease; 
    transition: background-color 0.3s ease;
    padding-left: 20px;
    padding-right: 10px;

    padding-bottom: 5px;
    justify-content: left;
    position: relative;
    margin-bottom: 3px;
}


.sidebar-link i {
    min-width: 25px; 
}

.sidebar-link .link-text {
    display: inline-block;
    margin-left: 10px;
    transition: opacity 0.5s ease, visibility 0.5s; 
    opacity: 1;
}

.sidebar-link::after {
    content: attr(title);
    position: absolute;
    white-space: nowrap;
    bottom: 100%;
    left: 50%;
    transform: translateX(125%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1;
}


.sidebar-link, .sidebar-sublink {
    transition: font-size 0.3s ease;
}



.toggle-sidebar {
    background: none;
    border: none;
    color: #ddd;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;

}


#content {
    transition: margin-left .5s;
    padding: 20px;
    margin-left: 180px;
}

#content.collapsed {
    margin-left: 30px;
}

.icon-chevron {
    display: inline-block;
    transition: transform 0.3s ease;
}


.icon-chevron {
    transform: rotate(180deg);
}


.sidebar.collapsed .icon-chevron {
    transform: rotate(0deg);
}

.sidebar.collapsed .sidebar-link::after {
    display: none;
}

.sidebar.collapsed .link-text {
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 0;
    overflow: hidden;
    display: inline-block;
    visibility: hidden;
    margin-left: 0; 
}

.sidebar-sublink {
    display: block;
    color: #ddd;
    padding: 8px 15px;
    font-size: 14px;
    text-decoration: none !important;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

.sidebar-sublink:hover {
    background-color: #333;
}

.sidebar-sublink .sidebar-sublink {
    margin-left: 40px;
    font-size: 13px;
}

.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.sidebar-link.has-submenu.open + .submenu {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}


.menu-logo-image {
    display: flex;
    height: 150px;
    background-image: url('/static/newstyle/sharewarez_pirate_small.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

.menu-logo-image img {
    border-radius: 17px;    

}

.version-display {
    font-size: 0.8em;
    color: #888;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.sidebar.collapsed .version-display {
    display: none;
}

.sidebar.collapsed .user-name {
    visibility: hidden;
}


.sidebar.collapsed .user-account-icon {
    width: 60px;
}


.user-account-menu {
    position: fixed;
    left: 5px;
    color: #ecf0f1;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); 
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #000000e5;
    padding: 20px 20px;
    border: 2px solid transparent;
}

.user-account-icon {
    position: fixed;
    bottom: 5px;
    left: 5px;
    color: #ecf0f1;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5); 
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #00000073;
    padding: 20px 20px;
    border: 2px solid transparent;
}


.user-account-icon:hover, .user-account-menu:hover {
    border-color: #ecf0f1; 
}


.user-account-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 4px;

}
