{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/games/discover.css') }}">
    <script src="{{ url_for('static', filename='js/library_slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popup_menu.js') }}"></script>

</head>
<body>
    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="discovery-panel">
        <h1 class="discovery-header">	
		<p>{{ loc.heading }}</p>
		</h1>
            <div class="discovery-libraries-container">
                    <div class="discovery-library-label">
                        {{ loc.label }}
                    </div>
                    <div class="libraries-list">
							{% for library in libraries %}
								<div class="library-item">
									<!-- Wrap the image and library name in an <a> tag -->
									<a href="{{ url_for('main.library', library_uuid=library['uuid']) }}" class="library-link">
										<img src="{{ library['image_url'] }}" alt="{{ library['name'] }}" class="library-cover">
										<span class="library-name">{{ library['name'] }}</span>
									</a>
								</div>
							{% endfor %}
                    </div>
			
                    <div class="discovery-latest-games-label">
                        {{ loc.latestgames.title }}
                    </div>
                    {% if latest_games %}
                    <div class="discovery-latest-games-container">
                        {% for game in latest_games %}
                        <div class="game-card-container">
                            <div class="game-card" onmouseover="showDetails(this, '{{ game.uuid }}')" onmouseout="hideDetails()" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">
                                {% with game_uuid=game.uuid, game_url=game.url %}
                         
                                {% endwith %}
                                {% if game.cover_url %}
                                        <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                            <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                                        </a>
                                    {% else %}
                                    <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                        <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                                    </a>
                                    {% endif %}
                                    <div id="details-{{ game.uuid }}" class="popup-game-details hidden">
                                        <!-- Details and screenshots will be injected here by JavaScript -->
                                    </div>
                            </div>
                        
                        </div>
                        {% endfor %}
						</tr>
                    </div>
                    {% else %}
							<br>
							<p>{{ loc.latestgames.empty }}</p>

                    {% endif %}
				<br>
				<br>
                    <div class="discovery-most-downloaded-label">
                        {{ loc.mostdownloaded.title }}
                    </div>
                    {% if most_downloaded_games %}
                        <div class="discovery-most-downloaded-container">
                            {% for game in most_downloaded_games %}
                                <div class="game-card-container">
                                    <div class="game-card" onmouseover="showDetails(this, '{{ game.uuid }}', 'most-downloaded')" onmouseout="hideDetails()" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">                                       
                                        {% with game_uuid=game.uuid, game_url=game.url %}
                                     
                                        {% endwith %}
                                        {% if game.cover_url %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                                            </a>
                                        {% else %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                                            </a>
                                        {% endif %}
                                        <div id="details-{{ game.uuid }}-most-downloaded" class="popup-game-details hidden">
                                            <!-- Details and screenshots will be injected here by JavaScript -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
					<tr>
						<br>
                        <p>{{ loc.mostdownloaded.empty }}</p>
                    {% endif %}
				<br>
				<br>
                    <div class="discovery-highest-rated-label">
                        {{ loc.highestrated.title }}
                    </div>
                    {% if highest_rated_games %}
                        <div class="discovery-highest-rated-container">
                            {% for game in highest_rated_games %}
                                <div class="game-card-container">
                                    <div class="game-card" onmouseover="showDetails(this, '{{ game.uuid }}', 'highest-rated')" onmouseout="hideDetails()" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">
                                        {% with game_uuid=game.uuid, game_url=game.url %}
                                     
                                        {% endwith %}
                                        {% if game.cover_url %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                                            </a>
                                        {% else %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                                            </a>
                                        {% endif %}
                                        <div id="details-{{ game.uuid }}-highest-rated" class="popup-game-details hidden">
                                            <!-- Details and screenshots will be injected here by JavaScript -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}							
                        </div>
                    {% else %}
							<br>
							<p>{{ loc.highestrated.empty }}</p>
                    {% endif %}
</body>
{% endblock %}
