{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/discovery.css') }}">
    <!-- Include other scripts or CSS files as needed -->
</head>
<body>
    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="glass-panel">

            <h1>Discover Games</h1>
            <div class="game-discovery-container" id="gamesContainer">
                <section>
                    <div class="discover-category-label">
                        Latest Games Added
                    </div>
                    {% if latest_games %}
                    <div class="game-row">
                        {% for game in latest_games %}
                        <div class="game-card-container">
                            <div class="game-card" onmouseover="showDetails(this, '{{ game.uuid }}')" onmouseout="hideDetails()" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">
                                <button id="menuButton-{{ game.uuid }}" class="button-glass-hamburger"><i class="fas fa-bars"></i></button>
                                {% with game_uuid=game.uuid, game_url=game.url %}
                         
                                {% endwith %}
                                {% if game.cover_url %}
                                        <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                            <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                                        </a>
                                    {% else %}
                                    <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                        <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                                    </a>
                                    {% endif %}
                                    <div id="details-{{ game.uuid }}" class="popup-game-details hidden">
                                        <!-- Details and screenshots will be injected here by JavaScript -->
                                    </div>
                            </div>
                        
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <p>No latest games added yet.</p>
                    {% endif %}
                </section>

                <section>
                    <div class="discover-category-label">
                        Most Downloaded Games
                    </div>
                    {% if most_downloaded_games %}
                        <div class="game-row">
                            {% for game in most_downloaded_games %}
                                <div class="game-card-container">
                                    <div class="game-card" onmouseover="showDetails(this, '{{ game.uuid }}')" onmouseout="hideDetails()" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">
                                        <button id="menuButton-{{ game.uuid }}" class="button-glass-hamburger"><i class="fas fa-bars"></i></button>
                                        {% with game_uuid=game.uuid, game_url=game.url %}
                                     
                                        {% endwith %}
                                        {% if game.cover_url %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                                            </a>
                                        {% else %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                                            </a>
                                        {% endif %}
                                        <div id="details-{{ game.uuid }}" class="popup-game-details hidden">
                                            <!-- Details and screenshots will be injected here by JavaScript -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No most downloaded games yet.</p>
                    {% endif %}
                </section>
                
                <section>
                    <div class="discover-category-label">
                        Highest Rated Games
                    </div>
                    {% if highest_rated_games %}
                        <div class="game-row">
                            {% for game in highest_rated_games %}
                                <div class="game-card-container">
                                    <div class="game-card" onmouseover="showDetails(this, '{{ game.uuid }}')" onmouseout="hideDetails()" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">
                                        <button id="menuButton-{{ game.uuid }}" class="button-glass-hamburger"><i class="fas fa-bars"></i></button>
                                        {% with game_uuid=game.uuid, game_url=game.url %}
                                     
                                        {% endwith %}
                                        {% if game.cover_url %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                                            </a>
                                        {% else %}
                                            <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                                                <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                                            </a>
                                        {% endif %}
                                        <div id="details-{{ game.uuid }}" class="popup-game-details hidden">
                                            <!-- Details and screenshots will be injected here by JavaScript -->
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>No highest rated games yet.</p>
                    {% endif %}
                </section>
                        </div>
    </div>
</body>
{% endblock %}
