{% extends "base.html" %}

{% block content %}
<div class="container-builder">
    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="glass-panel">
    <div class="content-download">
        <div class="logo-download">
            <img src="{{ url_for('static', filename='newstyle/download/download_banner.png') }}" alt="My Downloads" style="vertical-align: middle;">
        </div>
        <h2 class="text-center">Download yer Booty</h2> <!-- Bootstrap text-center class for title -->
        <div class="table-responsive"> <!-- Bootstrap responsive table container -->
            <table class="table table-striped table-hover"> <!-- Bootstrap table classes -->
                <thead>
                    <tr>
                        <th>Game Name</th>
                        <th>Status</th>
                        <th>Size</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for download in download_requests %}
                    <tr data-game-uuid="{{ download.game.uuid }}">
                        <td>{{ download.game.name }}</td>
                        <td class="status-cell">
                            <div class="status-value">
                                {{ download.status }}
                            </div>
                        </td> <!-- Add the class identifier here -->
                        <td>{{ download.formatted_size }}</td>
                        <td class="actions-cell"> <!-- It's also good practice to add a class for the actions cell for consistency -->
                            {% if download.status == 'available' %}
                            <a href="{{ url_for('main.download_zip', download_id=download.id) }}" class="btn btn-primary">Download</a>
                            <form action="{{ url_for('main.delete_download', download_id=download.id) }}" method="post" style="display: inline;">
                                {{ form.csrf_token }}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {{ form.csrf_token }}
    </div>
</div>
<script src="{{ url_for('static', filename='js/downloads_manager.js') }}"></script>
{% endblock %}
