{% extends "base.html" %}

{% block content %}


<div class="container-builder">
    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
</div>

<div class="glass-panel">
    <div class="content-download">
        <title>Download yer Booty</title>
        <div class="logo-download">
            <img src="{{ url_for('static', filename='/newstyle/download/download_banner.png') }}" alt="My Downloads" style="vertical-align: middle;">
        </div>
        <div class="title-centered">
            <h2>Download yer Booty</h2>
        </div>
        <div class="table-downloads-container">
            <table class="table-downloads">
                <thead>
                    <tr>
                        <th>Game Name</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for download in download_requests %}
                    <tr data-game-uuid="{{ download.game.uuid }}">
                        <td><span class="game-cell">{{ download.game.name }}</span></td>
                        <td class="status-cell"><span class="status-value">{{ download.status }}</span></td>
                        <td class="actions-cell">
                            {% if download.status == 'available' %}
                            <a href="{{ url_for('main.download_zip', download_id=download.id) }}" class="btn btn-primary">Download</a>
                            <!-- Delete form -->
                            <form action="{{ url_for('main.delete_download', download_id=download.id) }}" method="post" style="display: inline;">
                                {{ form.csrf_token }}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                
            </table>
        </div>
        {{ form.csrf_token }}
    </div>
</div>
    <script>
    // Declare CSRF token and other variables as needed
    var csrfToken = "{{ form.csrf_token._value() }}";
</script>
<script src="{{ url_for('static', filename='js/downloads_manager.js') }}"></script>

    

</body>
</html>
{% endblock %}