<!-- edit_game_images.html -->
{% extends "base.html" %}

{% block content %}


<div class="container-builder">
    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
<html>
<head>
    <title>Edit Game Images</title>
    <!-- Include any necessary CSS here -->
</head>
<body>
    <h1>Edit Images for Game: {{ game.name }}</h1>
    <div id="image-list">
        {% for image in images %}
        <div class="image-editor-image" id="image-{{ image.id }}">
            <img src="{{ url_for('static', filename='images/' + image.url) }}" alt="Image">
            <button onclick="deleteImage({{ image.id }})">Delete</button>
        </div>
        {% endfor %}
    </div>
    <div id="upload-area" data-game-uuid="{{ game.uuid }}">Drag and Drop Images Here</div>
    <input type="file" id="file-input" multiple>
    <script>
        var gameUuid = "{{ game.uuid }}"; // Assuming you're using a templating engine like Jinja2 with Flask
        </script>
    <script src="{{ url_for('static', filename='js/edit_game_images.js') }}"></script>
    <button id="upload-button">Upload</button>


</body>
</html>
{% endblock %}