{% extends "base.html" %}

{% block content %}
{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/games/favorites.css') == True %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/games/favorites.css') }}">
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/games/favorites.css') }}">
{% endif %}

<div class="content-flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

<div class="glass-panel">
    <h1>My Favorites</h1>
    
    <div class="game-library-container">
        {% if games %}
            {% for game in games %}
            <div class="game-card-container">
                <div class="game-card" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">
                    {% if game.cover_url %}
                        <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                            <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                        </a>
                    {% else %}
                        <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                            <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                        </a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="no-favorites">You haven't added any favorites yet!</p>
        {% endif %}
    </div>

    {% if pagination.pages > 1 %}
    <div class="pagination">
        {% for page in range(1, pagination.pages + 1) %}
            {% if page == pagination.page %}
                <span class="current-page">{{ page }}</span>
            {% else %}
                <a href="{{ url_for('main.favorites', page=page) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
