<!-- games/game_edit_images.html -->
{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/games/game_edit_images.css') == True %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/games/game_edit_images.css') }}">
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/games/game_edit_images.css') }}">
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
            {{ message }}<br>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
<html>
    <head>
        <title>Edit Game Images</title>
    </head>

    <body>
        <!-- Error Modal -->
        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="errorModalLabel">Upload Error</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="errorModalMessage">An unexpected error occurred. Please try again.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="glass-panel">


            <h3>Edit Images for Game: </h3>
            <h2>{{ game.name }}</h2>
            <div class="glass-panel-image-editor-cover">
                <h3>Cover Image</h3>
                <div id="cover-image-editor" class="image-editor-image">
                    <div class="cover-image-container">
                        <div class="spinner" id="coverSpinner"></div>
                        {% if cover_image %}
                            <img src="{{ url_for('static', filename='library/images/' + cover_image.url) }}" 
                                 alt="Cover Image"
                                 data-image-id="{{ cover_image.id }}">
                        <div class="delete-cover-image-container">
                            <button class="btn btn-danger" onclick="deleteImage({{ cover_image.id }})">Delete Cover Image</button>
                        </div>                    
                    {% else %}
                        <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image">
                    {% endif %}
                </div>
                <div class="glass-panel-image-editor-upload">
                    <input type="file" id="cover-image-input" class="form-control mt-3">
                </div>
            </div>

            <div class="glass-panel-image-editor">
                <div id="image-editor-list" class="image-editor-list">
                    {% for image in images %}
                    <div class="image-editor-image" id="image-{{ image.id }}">
                        <button class="btn btn-danger" onclick="deleteImage({{ image.id }})">Delete</button>
                        <img src="{{ url_for('static', filename='library/images/' + image.url) }}" alt="Image">
                        
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="glass-panel-image-editor-upload">
                <h3>Upload Screenshot(s)</h3>
                <div id="upload-area" data-game-uuid="{{ game.uuid }}" class="border p-3">Drag and Drop Images Here</div>
                <input type="file" id="file-input" multiple class="form-control mt-3">
                <script>
                    var gameUuid = "{{ game.uuid }}";
                </script>
                {% if verify_file('./modules/static/library/themes/' + current_theme + '/js/game_edit_images.js') %}
                    <script src="{{ url_for('static', filename='library/themes/' + current_theme + '/js/game_edit_images.js') }}"></script>
                {% else %}
                    <script src="{{ url_for('static', filename='library/themes/default/js/game_edit_images.js') }}"></script>
                {% endif %}
                <button id="upload-button" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </body>
</html>

{% endblock %}
