{% extends "base.html" %}
{% block content %}

{% if verify_file('./modules/static/library/themes/' + current_theme + '/css/games/game_details.css') == True %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/' + current_theme + '/css/games/game_details.css') }}">
{% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='library/themes/default/css/games/game_details.css') }}">
{% endif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<div class="content-flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>

{% if game %}
    <div class="glass-panel-gamecard">
        
        <head>
            
            <meta name="csrf-token" content="{{ csrf_token() }}">
            {% if verify_file('./modules/static/library/themes/' + current_theme + '/js/popup_menu.js') %}
                <script src="{{ url_for('static', filename='library/themes/' + current_theme + '/js/popup_menu.js') }}"></script>
            {% else %}
             <script src="{{ url_for('static', filename='library/themes/default/js/popup_menu.js') }}"></script>
            {% endif %}

            {% if verify_file('./modules/static/library/themes/' + current_theme + '/js/game_details.js') %}
                <script src="{{ url_for('static', filename='library/themes/' + current_theme + '/js/game_details.js') }}"></script>
            {% else %}
                <script src="{{ url_for('static', filename='library/themes/default/js/game_details.js') }}"></script>
            {% endif %}

            {% if verify_file('./modules/static/library/themes/' + current_theme + '/js/favorites.js') %}
                <script src="{{ url_for('static', filename='library/themes/' + current_theme + '/js/favorites.js') }}"></script>
            {% else %}
                <script src="{{ url_for('static', filename='library/themes/default/js/favorites.js') }}"></script>
            {% endif %}

            <title>{{ game.name or 'Game Details' }}</title>
        </head>

        <body>
            <!-- NFO Modal -->
            <div class="modal fade" id="nfoModal" tabindex="-1" aria-labelledby="nfoModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="nfoModalLabel">{{ game.name }} - NFO</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- <pre> tag to maintain NFO file formatting -->
                            <pre>{{ game.nfo_content }}</pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="game-card-gamename">
                <h1>{{ game.name or 'Game Name Not Available' }}</h1>
            </div>
            <div class="game-card-topq">
                <div class="game-card-q1">
                    
                    {% if game.images and game.images|length > 0 %}
                        <div class="game-card-coverimage">
                            {% for image in game.images %}
                                {% if 'cover' in image.url %}
                                    <img src="{{ url_for('static', filename='library/images/' + image.url) }}" alt="{{ game.name }} Cover Image" class="game-card-coverimage animated-entry">
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    
                    <div class="game-card-text-summary">
                        {% if game.summary and game.summary|length > 340 %}
                            <span class="summary-short">{{ game.summary[:340] }}...</span>
                            <a href="#" class="read-more-link">Read More</a>
                            <span class="summary-full" style="display: none;">{{ game.summary }}</span>
                        {% elif game.summary %}
                            <span>{{ game.summary }}</span>
                        {% else %}
                            <span>Summary Not Available</span>
                        {% endif %}
                    </div>
                    
                    
                </div>

                <div class="game-card-q2">
                    <div class="game-card-meta">
                        <button id="menuButton-{{ game.uuid }}" class="button-glass-hamburger"><i class="fas fa-bars"></i></button>

                            {% with game_uuid=game.uuid, game_url=game.url %}
                            {% include 'games/popup_menu.html' %}
                            {% endwith %}

                        <div class="rating-container">
                            <div class="game-card-labels-rating">
                                <a href="{{ game.url }}" target="_blank" class="igdb-link">IGDB</a>
                            </div>
                            {% if game.rating %}
                                <div class="rating-bar" style="width: {{ game.rating }}%;"></div>
                            {% else %}
                                <div class="emptyrating">Not rated</div>
                            {% endif %}

                            <div class="game-card-labels-rating">
                                Other:
                            </div>
                            {% if game.aggregated_rating %}
                                <div class="rating-bar" style="width: {{ game.aggregated_rating }}%;"></div>
                            {% else %}
                                <div class="emptyrating">Not rated</div>
                            {% endif %}
                            {% if game.urls and game.urls|length > 0 %}
                            {% if enable_web_links %}
                            <div class="game-card-links">
                                <!-- Iterate through URLs and create icon links -->
                                {% for link in game.urls %}
                                    
                                    <div class="game-link-icon-container">
                                        <a href="{{ link.url }}" target="_blank" class="game-link-icon" title="{{ link.type|capitalize }}">
                                            <i class="fas {{ "fa-solid fa-globe" if link.icon == "fa-brands fa-wikimedia" else link.icon }}"></i>
                                        </a>
                                    </div>
                                    
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        {% endif %}
                        
                        </div>
                        
                        {% macro list_items(items, label, filter_type) %}
                        <div class="game-card-labels">
                            {{ label }}:
                        </div>
                        <div class="game-card-chips-list">
                            {% if items %}
                                {% for item in items %}
                                    <a href="{{ url_for('main.library', **{filter_type: item}) }}" class="chip-detailspage">{{ item }}</a>
                                {% endfor %}
                            {% else %}
                                <p class="chip-detailspage">N/A</p>
                            {% endif %}
                        </div>
                        {% endmacro %}
                    

                        {{ list_items(game.genres, "Genres", "genre") }}
                        {{ list_items(game.themes, "Themes", "theme") }}
                        {{ list_items(game.game_modes, "Game Modes", "game_mode") }}
                        {{ list_items(game.player_perspectives, "Player Perspectives", "player_perspective") }}
                        

                        <div class="flex-row-horiz">
                            {% macro detail_item(label, value) %}
                                <div class="flex-col-vertic">                    
                                    <div class="game-card-labels">
                                        {{ label }}:
                                    </div>
                                    <div class="chip">
                                        {{ value or 'N/A' }}                                
                                    </div>
                                </div>
                            {% endmacro %}
                            
                            {{ detail_item("Category", game.category) }}
                            {{ detail_item("Released", game.first_release_date) }}
                            {{ detail_item("Developer", game.developer) }}

                        </div>
                        
                        {% if game.last_updated != "N/A" %}
                            <div class="flex-row-horiz">
                                {{ detail_item("Last Updated", game.last_updated) }}
                            </div>
                        {% endif %}
 
                        </div>
                        <div class="game-card-downloads">
                            <button class="favorite-btn" data-game-uuid="{{ game.uuid }}">
                                <i class="fas fa-heart"></i>
                            </button>
                            {% if game.size %}
                            <div class="chip-size">
                                {{ game.size }}
                            </div>
                            {% endif %}
                            <form action="{{ url_for('main.download_game', game_uuid=game.uuid) }}" method="get" class="download-form">
                                <input type="submit" value="Download Now!" class="button-glass-download" data-game-uuid="{{ game.uuid }}">
                                {{ form.csrf_token }}
                            </form>
                            {% if game.nfo_content and game.nfo_content.lower() != 'none' %}
                            <!-- NFO Icon and Modal Trigger -->
                            <div class="nfo-icon-container">
                                <i class="fa fa-file-alt nfo-icon" data-bs-toggle="modal" data-bs-target="#nfoModal" title="View NFO"></i>
                                <span class="nfo-text">NFO</span>
                            </div>
                        {% endif %}
                        </div>
                        
                    </div>
                    {% if (enable_game_updates or enable_game_extras) and (update_files.files or extras_files.files) %}
                        <div class="game-card-q3">
                            <div class="game-files">
                            {% if update_files.files %}
                                {% if enable_game_updates %}
                                    <div class="game-files-updates">
                                        <div class="updates-header">Updates</div>
                                    </div>
                                            <div class="updates-content">
                                                <table class="table table-hover">
                                                    {% for file in update_files.files|sort(attribute='isfile') %}
                                                    <tr>
                                                        <th>
                                                        {% set file_extension = file.name.split('.')[-1] %}
                                                        {% if '.' not in file.name %}
                                                            <i class="bi bi-folder"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "exe" %}
                                                            <i class="bi bi-filetype-exe"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "rar" %}
                                                            <i class="bi bi-file-zip"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "zip" %}
                                                            <i class="bi bi-file-zip"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "iso" %}
                                                            <i class="bi bi-disc"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "doc" %}
                                                            <i class="bi bi-filetype-doc"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "doc" %}
                                                            <i class="bi bi-filetype-doc"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "docx" %}
                                                            <i class="bi bi-filetype-docx"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "json" %}
                                                            <i class="bi bi-filetype-json"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "pdf" %}
                                                            <i class="bi bi-filetype-pdf"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "png" %}
                                                            <i class="bi bi-filetype-png"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "txt" %}
                                                            <i class="bi bi-filetype-txt"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "gif" %}
                                                            <i class="bi bi-filetype-gif"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "jpg" %}
                                                            <i class="bi bi-filetype-jpg"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "jpeg" %}
                                                            <i class="bi bi-filetype-jpg"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% else %}
                                                            <i class="bi bi-file"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='updates', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% endif %}
                                                        </th>				
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                {% endif %}
                            {% endif %}
                                {% if enable_game_extras %}
                                    {% if extras_files.files %}
                                        <div class="game-files-additional">
                                            <div class="additional-header">Extra Files</div>
                                        </div>
                                            <div class="additional-content">
                                                <table class="table table-hover">
                                                    {% for file in extras_files.files|sort(attribute='isfile') %}
                                                    <tr>
                                                        <th>
                                                        {% set file_extension = file.name.split('.')[-1] %}
                                                        {% if '.' not in file.name %}
                                                            <i class="bi bi-folder"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "exe" %}
                                                            <i class="bi bi-filetype-exe"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "rar" %}
                                                            <i class="bi bi-file-zip"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "zip" %}
                                                            <i class="bi bi-file-zip"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "iso" %}
                                                            <i class="bi bi-disc"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "doc" %}
                                                            <i class="bi bi-filetype-doc"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "doc" %}
                                                            <i class="bi bi-filetype-doc"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "docx" %}
                                                            <i class="bi bi-filetype-docx"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "json" %}
                                                            <i class="bi bi-filetype-json"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "pdf" %}
                                                            <i class="bi bi-filetype-pdf"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "png" %}
                                                            <i class="bi bi-filetype-png"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "txt" %}
                                                            <i class="bi bi-filetype-txt"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "gif" %}
                                                            <i class="bi bi-filetype-gif"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "jpg" %}
                                                            <i class="bi bi-filetype-jpg"></i>
                                                            <a href="{{ url_for('main.download_file',

 file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% elif file_extension == "jpeg" %}
                                                            <i class="bi bi-filetype-jpg"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% else %}
                                                            <i class="bi bi-file"></i>
                                                            <a href="{{ url_for('main.download_file', file_location='extras', game_uuid=game.uuid, file_size=file.size, file_name=file.name) }}" method="get" class="download-form" onclick="return doFormSubmit();">
                                                            <span class="file-name">
                                                                {{ file.name }}
                                                            </span>
                                                            </a>
                                                            <span class="file-size">
                                                                ({{ file.size }})
                                                            </span>
                                                        {% endif %}
                                                        </th>				
                                                    </tr>
                                                    {% endfor %}
                                                </table>
                                            </div>
                                    {% endif %}			
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% if game.images and game.images|length > 0 %}
                <div class="screenshot-gallery">
                    {% for image in game.images %}
                        {% if 'cover' not in image.url %}
                            <img src="{{ url_for('static', filename='library/images/' + image.url) }}" alt="{{ game.name }} Screenshot" class="screenshot-image" onclick="openModal();currentSlide({{ loop.index }})">
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if game.video_urls %}
                <div class="game-videos-row">
                    {% for url in game.video_urls.split(',') %}
                        <iframe src="{{ url }}" class="game-video" frameborder="0" allowfullscreen></iframe>
                    {% endfor %}
                </div>
            {% endif %}
            
            <!-- Summary Modal -->
            <div id="summaryModal" class="summary-modal">
                <div class="summary-modal-content">
                    <span class="summary-close">&times;</span>
                    <p class="summary-modal-text">Full summary goes here...</p>
                </div>
            </div>



            <div id="myModal" class="modal">
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <span class="close cursor" onclick="closeModal()">&times;</span>
                <div class="modal-content">
                    {% for image in game.images %}
                        {% if 'cover' not in image.url %}
                            <div class="mySlides">
                                <img src="{{ url_for('static', filename='library/images/' + image.url) }}" class="screenshot-browser-image" style="width:100%">                        
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            </div>
            </body>
    </div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Game information is not available at the moment.
    </div>
{% endif %}
{% endblock %}
