<!-- in templates/games_add_navbar.html -->

<div class="container-settings-menubuttons">
    <button type="button" class="button-glass" onclick="window.location.href='/scan_manual_folder'">Manual Folder Scanner</button>
    <button type="button" class="button-glass" onclick="window.location.href='/scan_auto_folder'">Auto Folder Scanner</button>
    <button type="button" class="button-glass" onclick="window.location.href='/add_game_manual'">Manually Add a Game</button>
    <button type="button" class="button-glass" onclick="window.location.href='/scan_jobs_manager'">Scan Job Manager</button>
    <button type="button" class="button-glass" onclick="window.location.href='/unmatched_folders'">Unmatched Folders</button>
</div>