<!-- in templates/games/library_browser.html -->
{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Browse Games</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library_browser.css') }}">
    <script src="{{ url_for('static', filename='js/popup_menu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library_slideshow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library_pagination.js') }}"></script>
    <script src="{{ url_for('static', filename='js/library_search.js') }}"></script>
</head>
<body>

    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flashes">
                    {% for message in messages %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="glass-panel">
        <div id="deleteGameModal" class="modal" style="display:none; z-index=15;">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2>Warning!</h2>
                <p>Deleting this game will remove it permanently from the database and delete its folder on disk. This action cannot be undone.</p>
                <form action="#" method="post" id="deleteGameForm">
                    <input type="hidden" name="game_uuid" id="deleteGameUuid">
                    <button type="submit" class="delete-confirm">Delete Game</button>
                    <button type="button" class="delete-cancel">Cancel</button>
                </form>
            </div>
        </div>

        <select id="perPageSelect" class="dropdown-perpage">
            <option value="16">16</option>
            <option value="20" selected>20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        
        <!-- Search Modal -->
        <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="searchModalLabel">Search</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                <input type="text" class="form-control" id="searchInput" placeholder="Start typing...">
                <div id="searchResults"></div>
                </div>
            </div>
            </div>
        </div>
  

        <!-- Pagination Controls -->
        <div class="container-pagination">
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination pagination-style">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" id="prevPage">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><span class="page-link" id="currentPageInfo">Loading...</span></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" id="nextPage">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                </ul>
            </nav>
        </div>
        <div class="game-library-container" id="gamesContainer">
            {% for game in games %}
            <div class="game-card-container">
                <div class="game-card" onmouseover="showDetails(this, '{{ game.uuid }}')" onmouseout="hideDetails()" data-name="{{ game.name }}" data-size="{{ game.size }}" data-genres="{{ game.genres|join(', ') }}">
                    <button id="menuButton-{{ game.uuid }}" class="button-glass-hamburger"><i class="fas fa-bars"></i></button>
                    {% with game_uuid=game.uuid, game_url=game.url %}
             
                    {% endwith %}
                    {% if game.cover_url and game.cover_url != 'newstyle/default_cover.jpg' %}
                    <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                        <img src="{{ url_for('static', filename='library/images/' ~ game.cover_url) }}" alt="{{ game.name }}" class="game-cover">
                    </a>
                    {% else %}
                        <a href="{{ url_for('main.game_details', game_uuid=game.uuid) }}">
                            <img src="{{ url_for('static', filename='newstyle/default_cover.jpg') }}" alt="Default Cover Image" class="game-cover">
                        </a>
                    {% endif %}
                    <div id="details-{{ game.uuid }}" class="popup-game-details hidden">
                        <!-- Details and screenshots will be injected here by JavaScript -->
                    </div>
                </div>
            
            </div>
            {% endfor %}
        </div>
        
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Trigger modal open
            document.querySelectorAll('.trigger-delete-modal').forEach(item => {
                item.addEventListener('click', event => {
                    document.getElementById('deleteGameUuid').value = event.target.getAttribute('data-game-uuid'); // Set game UUID in form
                    document.getElementById('deleteGameModal').style.display = 'block'; // Show modal
                });
            });
        
            // Close modal
            document.querySelector('.close-button').addEventListener('click', () => {
                document.getElementById('deleteGameModal').style.display = 'none';
            });
        
            // Cancel button in modal
            document.querySelector('.delete-cancel').addEventListener('click', () => {
                document.getElementById('deleteGameModal').style.display = 'none';
            });
        
            // Handle form submit
            document.getElementById('deleteGameForm').addEventListener('submit', function(event) {
                event.preventDefault();
                const gameUuid = document.getElementById('deleteGameUuid').value;
                const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); // Ensure this matches your CSRF token setup
        
                fetch(`/delete_full_game`, { // Adjust this URL to the correct route for deleting the full game
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken, // Ensure this header matches your CSRF protection setup
                    },
                    body: JSON.stringify({ game_uuid: gameUuid })
                })
                .then(response => {
                    if(response.ok) {
                        return response.json();
                    }
                    throw new Error('Network response was not ok.');
                })
                .then(data => {
                    console.log(data);
                    window.location.href = '/library'; // Redirect to the library page
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
        </script>    

</body>
</html>
{% endblock %}
