<!-- in templates/games/library_filters.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/library_filters.css') }}">

<div class="container-filtersandsort">
  <!-- Sorting Dropdown -->
  <div class="sorting-dropdown">
    <label for="sortSelect"></label>
    <select id="sortSelect">
      <option value="name">Name</option>
      <option value="rating">Rating</option>
      <option value="first_release_date">Date Released</option>
      <option value="date_identified">Date Added</option>

      <option value="size">Filesize</option>
    </select>
    <button id="sortOrderToggle" class="btn btn-secondary">^</button>
</div>

    
  <div id="library-filters" class="library-filters">
    <form id="filterForm">

      <div class="form-group">
        <label for="genreSelect">Genre</label>
        <select class="form-control" id="genreSelect">
          <option value="">All Genres</option>
          <!-- Genres will be populated here -->
        </select>
      </div>
      <div class="form-group">
        <label for="themeSelect">Theme</label>
        <select class="form-control" id="themeSelect">
          <option value="">All Themes</option>
          <!-- Themes will be populated here -->
        </select>
      </div>
      <div class="form-group">
        <label for="gameModeSelect">Game Mode</label>
        <select class="form-control" id="gameModeSelect">
          <option value="">All Game Modes</option>
          <!-- Game Modes will be populated here -->
        </select>
      </div>
      <div class="form-group">
        <label for="playerPerspectiveSelect">Player Perspective</label>
        <select class="form-control" id="playerPerspectiveSelect">
          <option value="">All Perspectives</option>
          <!-- Perspectives will be populated here -->
        </select>
      </div>
      <div class="">
        <div class="form-group">
          <label for="ratingSlider">Rating: <span id="ratingValue">0</span></label>
          <input type="range" class="form-control-range rating-slider" id="ratingSlider" min="0" max="100" value="0">
          <button type="submit" class="btn btn-primary">Apply</button>
      </div>
    </form>
  </div>
</div>
</div>


  