<!-- in templates/games/popup_menu.html -->
<!-- when updating this file, remember to change library_pagination.js too -->
<!-- it regenerates this popup menu -->

<link rel="stylesheet" href="{{ 'css/games/popup_menu.css'|theme_asset }}">

<div id="popupMenu-{{ game_uuid }}" class="popup-menu" style="display: none;">
    <form action="{{ url_for('download.download_game', game_uuid=game_uuid) }}" method="get" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button">Download</button>
    </form>

    <form action="{{ url_for('games.game_edit', game_uuid=game_uuid) }}" method="get" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button">Edit Details</button>
    </form>
    
    <form action="{{ url_for('main.edit_game_images', game_uuid=game_uuid) }}" method="get" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button">Edit Images</button>
    </form>
    <form action="{{ url_for('main.refresh_game_images', game_uuid=game_uuid) }}" method="post" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button refresh-game-images">Refresh Images</button>
    </form>
    <div class="menu-item">
        <button type="button" class="menu-button delete-game" data-game-uuid="{{ game_uuid }}">Remove Game from DB</button>
    </div>
    {% if enable_delete_game_on_disk %}
    <div class="menu-item">
        <button type="button" class="menu-button trigger-delete-modal" data-game-uuid="{{ game_uuid }}">Delete Game on disk</button>
    </div>
    {% endif %}
    <div class="menu-item move-library-container">
        <button type="button" class="menu-button move-library" data-game-uuid="{{ game_uuid }}">Move Library</button>
        <div class="submenu-libraries" style="display: none;">
            <div class="loading-libraries">
                <span>Loading libraries...</span>
            </div>
            <div class="libraries-list" style="display: none;">
            </div>
        </div>
    </div>
    <div class="menu-item">
        {% if game.url %}
        <button type="submit" onclick="window.open('{{ game.url }}', 'target=_new')" class="menu-button">Open IGDB Page</button>
        {% endif %}
    </div>
    {% if discord_configured and discord_manual_trigger_enabled and is_admin %}
    <div class="menu-item">
        <button type="button" class="menu-button trigger-discord-notification" data-game-uuid="{{ game_uuid }}">Send Discord Notification</button>
    </div>
    {% endif %}
</div>
