<!-- in templates/games/popup_menu.html -->
<!-- when updating this file, remember to change library_pagination.js too -->
<!-- it regenerates this popup menu -->

<div id="popupMenu-{{ game_uuid }}" class="popup-menu" style="display: none;">
    <form action="{{ url_for('main.download_game', game_uuid=game_uuid) }}" method="get" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button">Download</button>
    </form>

    <form action="{{ url_for('main.game_edit', game_uuid=game_uuid) }}" method="get" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button">Edit Details</button>
    </form>
    
    <form action="{{ url_for('main.edit_game_images', game_uuid=game_uuid) }}" method="get" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button">Edit Images</button>
    </form>
    <form action="{{ url_for('main.refresh_game_images', game_uuid=game_uuid) }}" method="post" class="menu-item">
        {{ form.csrf_token }}
        <button type="submit" class="menu-button refresh-game-images">Refresh Images</button>
    </form>
    <div class="menu-item">
        <button type="button" class="menu-button delete-game" data-game-uuid="{{ game_uuid }}">Remove Game from DB</button>
    </div>
    <div class="menu-item">
        <button type="button" class="menu-button trigger-delete-modal" data-game-uuid="{{ game_uuid }}">Delete Game on disk</button>
    </div>
    <div class="menu-item">
        {% if game.url %}
        <a href="{{ game.url }}" target="_blank" class="menu-button" style="text-decoration: none; color: inherit;">Open IGDB Page</a>
        {% endif %}
    </div>
</div>
<div id="deleteGameModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Warning!</h2>
        <p>Deleting this game will remove it permanently from the database and delete its folder on disk. This action cannot be undone.</p>
        <form action="#" method="post" id="deleteGameForm">
            <input type="hidden" name="game_uuid" id="deleteGameUuid">
            <button type="submit" class="delete-confirm">Delete Game</button>
            <button type="button" class="delete-cancel">Cancel</button>
        </form>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Trigger modal open
        document.querySelectorAll('.trigger-delete-modal').forEach(item => {
            item.addEventListener('click', event => {
                document.getElementById('deleteGameUuid').value = event.target.getAttribute('data-game-uuid'); // Set game UUID in form
                document.getElementById('deleteGameModal').style.display = 'block'; // Show modal
            });
        });
    
        // Close modal
        document.querySelector('.close-button').addEventListener('click', () => {
            document.getElementById('deleteGameModal').style.display = 'none';
        });
    
        // Cancel button in modal
        document.querySelector('.delete-cancel').addEventListener('click', () => {
            document.getElementById('deleteGameModal').style.display = 'none';
        });
    
        // Handle form submit
        document.getElementById('deleteGameForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const gameUuid = document.getElementById('deleteGameUuid').value;
            const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content'); // Ensure this matches your CSRF token setup
    
            fetch(`/delete_full_game`, { // Adjust this URL to the correct route for deleting the full game
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken, // Ensure this header matches your CSRF protection setup
                },
                body: JSON.stringify({ game_uuid: gameUuid })
            })
            .then(response => {
                if(response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                console.log(data);
                window.location.href = '/library'; // Redirect to the library page
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
    </script>
    
    