{% extends "base.html" %}

{% block content %}
{% include "/admin/navbar.html" %}
{% include "games/games_add_navbar.html" %}

<div class="container-builder">
        <div class="content-flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
<html>
<head>
    <title>IGDB API Debugger</title>
    <!-- Add any additional head elements here -->
</head>
<body>
    <h1>IGDB API Debugger</h1>

    <form method="post">
        <!-- Add CSRF token for form security -->
        {{ form.csrf_token }}

        <!-- Form fields -->
        <div>{{ form.endpoint.label }}{{ form.endpoint }}</div>
        <div>{{ form.query.label }}{{ form.query }}</div>
        <div>{{ form.submit }}</div>
    </form>

    <!-- Display API Response -->
    {% if api_response %}
        <h2>API Response</h2>
        <pre>{{ api_response | tojson(indent=2) }}</pre>
    {% endif %}

</body>
</html>
{% endblock %}