{% extends "base.html" %}
{% block content %}
{% include "/admin/navbar.html" %}
{% include "games_add_navbar.html" %}
<div class="content-flash">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
        {% for message in messages %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Game Manually</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="glass-panel-addgame">
        <h2>Add Game Manually</h2>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.igdb_id(class="form-control") }}
                <button type="button" class="btn btn-info" id="search-igdb-btn">Search IGDB</button>
                {% if form.igdb_id.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.igdb_id.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
                <small id="igdb_id_feedback" class="form-text-muted">Enter the IGDB ID of the game.</small>
            </div>
            
            <div class="form-group">
                <label for="name">Name</label>
                {{ form.name(class="form-control") }}
                {% if form.name.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.name.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                {{ form.summary(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="storyline">Storyline</label>
                {{ form.storyline(class="form-control") }}
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                {{ form.url(class="form-control") }}
                {% if form.url.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.url.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="full_disk_path">Full Disk Path</label>
                {{ form.full_disk_path(class="form-control") }}
                {% if form.full_disk_path.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.full_disk_path.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="video_urls">Video URLs</label>
                {{ form.video_urls(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/add_game_manual.js') }}"></script>
    {% endblock %}
</body>
</html>
{% endblock %}