<!-- in templates/admin_navbar.html -->

<div class="container-settings-menubuttons">
    <button type="button" class="button-glass" onclick="window.location.href='/admin_newsletter'">Newsletter</button>
    <button type="button" class="button-glass" onclick="window.location.href='/admin_whitelist'">Whitelist manager</button>
    <button type="button" class="button-glass" onclick="window.location.href='/admin_usrmgr'">User manager</button>
    <button type="button" class="button-glass" onclick="window.location.href='/beta'">Beta features</button>
</div>