{% extends 'base.html' %}

{% block content %}
    <!-- Flash Messages Section -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="flash-message">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <!-- Beta Features Section -->
    <section>
        <h2>Beta Features</h2>
        <a href="{{ url_for('main.scan_folder') }}" class="button">Games Scanner</a>
        <a href="{{ url_for('main.browse_games') }}" class="button">Games Browser</a>
        <a href="{{ url_for('main.api_debug') }}" class="button">API Debugger</a>
    </section>
{% endblock %}
