
{% extends "base.html" %}

{% block content %}
{% include "settings_navbar.html" %}

<div class="container-builder">
        <div class="content-flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
<html>
<head>
    <title>Scan Folder for Games</title>
    <!-- Add necessary CSS or JS files -->
</head>
<body>
    <h1>Scan Folder for Games</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.folder_path.label }}<br>
            {{ form.folder_path(size=32) }}
            {% if form.folder_path.errors %}
                {% for error in form.folder_path.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            {% endif %}
        </p>
        <p>{{ form.scan() }} {{ form.cancel() }}</p>
    </form>
    {% if game_names_with_ids %}
        <h2>Found Games:</h2>
        <ul>
            {% for game in game_names_with_ids %}
                <li>{{ game['name'] }}
                    <!-- Add button for each game -->
                    <a href="{{ url_for('main.add_game', game_name=game['name']) }}" class="btn btn-primary">Add</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
{% endblock %}