<!-- in templates/settings_password.html -->

{% extends "base.html" %}

{% block content %}
{% include "settings_navbar.html" %}

<div class="container-builder">
    <br>
    <h2>My Password</h2>
    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <br>

    <form id="user-detail-form" action="{{ url_for('main.account_pw') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_="input-glass") }}
        </div>
        <input type="submit" class="button-glass" value="Save">
        <button class="button-glass" onclick="location.reload()">Cancel</button>
    </form>
</div>

</div>
{% endblock %}
