<!-- templates/scan_jobs_management.html -->

{% extends "base.html" %}

{% block content %}

<meta name="active-tab" content="{{ active_tab }}">

<link rel="stylesheet" href="/static/css/scan_management.css">
<div class="content-flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</div>
<!-- Back to Dashboard Button -->
<div class="container mt-3">
    <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
</div>

<div class="glass-panel mt-3">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="autoScan-tab" data-bs-toggle="tab" href="#autoScan">Auto Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="manualScan-tab" data-bs-toggle="tab" href="#manualScan">Manual Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="unmatchedFolders-tab" data-bs-toggle="tab" href="#unmatchedFolders">Unmatched Folders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="deleteLibrary-tab" data-bs-toggle="tab" href="#deleteLibrary">Delete Library</a>
        </li>
    
    </ul>
    

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Auto Scan Tab -->
        <div id="autoScan" class="glass-panel tab-pane active"><br>
            
            <h3>Automatic Folder Scan</h3>
            <form action="" method="post">
                {{ auto_form.hidden_tag() }}
                <div class="form-group">
                    {{ auto_form.folder_path.label }}
                    {{ auto_form.folder_path(class="form-control") }}
                    {% if auto_form.folder_path.errors %}
                        {% for error in auto_form.folder_path.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">

                    <button id="browseFoldersBtn" type="button" class="btn btn-info" data-browse-url="{{ url_for('main.browse_folders_ss') }}">Browse Folders</button>
                    <button type="submit" name="submit" value="AutoScan" class="btn btn-primary">Start On-Demand Scan</button>

                    <div id="loadingSpinner" class="loading-spinner" style="display: none;">
                        <img src="/static/newstyle/searching_small.gif" alt="Loading...">
                    </div>
                    <button id="upFolderBtn" type="button" class="btn btn-secondary" style="display: none;">Up</button>

                    <div id="folderContents">
                        
                    </div>
                 
                    
                </div>
            </form>

            <div class="glass-panel-scanfolder container mt-4">
                <h2>Scan Jobs Management</h2>
                <p>(you can only have 1 scan job 'Running' at a time)</p>
                <form action="{{ url_for('main.clear_all_scan_jobs') }}" method="post">
                     {{ csrf_form.csrf_token }}
                    <input type="submit" value="Clear All" class="btn btn-danger" onclick="return confirm('Delete ALL jobs?');">
                </form>
                <table class="table mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Folder</th>
                            <th>Status</th>
                            <th>Error message</th>
                            <th>Last Run</th>
                            <th>Total folders</th>
                            <th>Games found</th>
                            <th>Failed folders</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="jobsTableBody">
                        <!-- Scan job rows will be dynamically populated here -->
                    </tbody>
                    
                </table>
            </div>
        </div>

        <!-- Manual Scan Tab -->
        <div id="manualScan" class="glass-panel tab-pane fade"><br>
            <h3>Manual Folder Scan</h3>
            <form action="" method="post">
                {{ manual_form.hidden_tag() }}
                <div class="form-group">
                    {{ manual_form.folder_path.label }}
                    {{ manual_form.folder_path(class="form-control", id="manualFolderPath") }}
                                        {% if manual_form.folder_path.errors %}
                        {% for error in manual_form.folder_path.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <button id="browseFoldersBtnManual" type="button" class="btn btn-info">Browse Folders</button>
                    <button type="submit" name="submit" value="ManualScan" class="btn btn-primary">List Games</button>
                    <button id="upFolderBtnManual" type="button" class="btn btn-secondary" style="display: none;">Up</button>

                </div>
            </form>
            <div id="loadingSpinnerManual" class="loading-spinner" style="display: none;">
                <img src="/static/newstyle/searching_small.gif" alt="Loading...">
            </div>
            <div id="folderContentsManual"></div>
        

            {% if game_names_with_ids %}
            <br>
            <h4>Found Games:</h4>
            <div class="list-group">
                {% for game in game_names_with_ids %}
                    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        {{ game['name'] }}
                        <!-- Identify Form for each game -->
                        <form action="{{ url_for('main.add_game_manual') }}" method="GET" style="display: inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                            <input type="hidden" name="full_disk_path" value="{{ game['full_path'] }}">
                            <input type="submit" class="btn btn-primary btn-sm" value="Identify">
                        </form>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
            </div>

        <!-- Unmatched Folders Tab -->
        <div id="unmatchedFolders" class="container tab-pane fade"><br>
            <div class="glass-panel">
                <h3>Resolve Unmatched Folders</h3>
                <!-- spinner -->
                <div id="globalSpinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <img src="{{ url_for('static', filename='/newstyle/pirate_treasure.gif') }}" alt="Loading...">
                </div>

                <div class="container-unmatched-buttons mb-3">
                    <form action="" method="post">
                        {{ csrf_form.csrf_token }}
                        <input type="hidden" name="submit" value="DeleteAllUnmatched">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all entries in the list? This cannot be undone.');">Clear All</button>
                    </form>
                    <form action="" method="post">
                        {{ csrf_form.csrf_token }}
                        <input type="hidden" name="submit" value="DeleteOnlyUnmatched">
                        <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to clear all unmatched folders? This cannot be undone.');">Clear Unmatched</button>
                    </form>
                </div>
                <table class="table" style="border-radius: 15px";>
                    <thead>
                        <tr>
                            <th>Folder Path</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for folder in unmatched_folders %}
                        <tr>
                            <td>{{ folder.folder_path }}</td>
                            <td>{{ folder.status }}</td>
                            <td>
                                <form method="post" action="{{ url_for('main.update_unmatched_folder_status') }}" data-csrf="{{ csrf_token() }}" style="display: inline;">
                                    {{ csrf_form.csrf_token }}
                                    <input type="hidden" name="folder_id" value="{{ folder.id }}">
                                    <input type="hidden" name="new_status" value="Ignore">
                                    <input type="submit" class="btn btn-secondary btn-sm" value="Ignore">
                                </form>

                                <form class="delete-folder-form" style="display: inline;">
                                    {{ csrf_form.csrf_token }}
                                    <input type="hidden" name="folder_path" value="{{ folder.folder_path }}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete Folder</button>
                                </form>


                                <!-- New Edit Form -->
                                <form action="{{ url_for('main.add_game_manual') }}" method="GET" style="display: inline;">
                                    <input type="hidden" name="full_disk_path" value="{{ folder.folder_path }}">
                                    <input type="hidden" name="from_unmatched" value="true">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Identify">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div id="deleteLibrary" class="glass-panel-scanfolder tab-pane fade"><br>
            <h3>Delete Library</h3>
            <p>This action will delete all games in the library. Proceed with caution.</p>
            <p>Number of games currently in the library: <strong>{{ game_count }}</strong></p>
            <button id="deleteAllGamesBtn" class="btn btn-danger" data-toggle="modal" data-target="#deleteWarningModal">Delete All Games</button>               
              <!-- Spinner -->
                 <div id="spinner" class="spinner"></div>
        
        </div>

        <!-- Bootstrap Modal for Warning Confirmation -->
        <div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="deleteWarningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteWarningModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all games? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{{ url_for('main.delete_all_games') }}" method="post">
                    {{ csrf_form.csrf_token }}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>

            </div>
        </div>
       
    </div>
</div>
<script src="{{ url_for('static', filename='js/scan_management.js') }}"></script>

<script>
    var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    document.addEventListener("DOMContentLoaded", function() {
        const updateScanJobs = () => {
            fetch('/api/scan_jobs_status', {cache: 'no-store'})
                .then(response => response.json())
                .then(data => {
                    const jobsTableBody = document.querySelector('#jobsTableBody');
                    jobsTableBody.innerHTML = '';
                    data.forEach(job => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${job.id.substring(0, 8)}</td>
                            <td>${Object.keys(job.folders).join(', ')}</td>
                            <td>${job.status}</td>
                            <td>${job.error_message}</td>
                            <td>${job.last_run}</td>
                            <td>${job.total_folders}</td>
                            <td>${job.folders_success}</td>
                            <td>${job.folders_failed}</td>
                            <td>
                                <!-- Conditional rendering for Cancel button, if job status is 'Running' -->
                                ${job.status === 'Running' ? 
                                    `<form action="/cancel_scan_job/${job.id}" method="post">
                                        <input type="hidden" name="csrf_token" value="${csrfToken}">
                                        <button type="submit" class="btn btn-warning btn-sm">Cancel Scan</button>
                                    </form>` : ''}
                            </td>
                        `;
                        jobsTableBody.appendChild(row);
                    });
                })
                .catch(error => console.error('Error fetching scan jobs status:', error));
        };
    
    // Run immediately on load
    updateScanJobs();

    // Then update every 5 seconds
    setInterval(updateScanJobs, 5000);
    });
    </script>
    
{% endblock %}
