{% extends "base.html" %}

{% block content %}


<div class="container-builder">
        <div class="content-flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                <div class="flash">{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
        </div>
<html>
<head>
    <div class="glass-panel-scanfolder">
    <title>Game Details</title>
    
</head>
<body>
    <h1>Game Details</h1>
    {% if game %}
        <div>
            <h2>{{ game.name }}</h2>
            <p><strong>Summary:</strong> {{ game.summary or 'No summary available' }}</p>
            <p><strong>Storyline:</strong> {{ game.storyline or 'No storyline available' }}</p>
            <p><strong>URL:</strong> <a href="{{ game.url }}" target="_blank">{{ game.url }}</a></p>
            
        </div>
        <a href="{{ url_for('main.scan_folder') }}" class="button-glass">Folder Scanner</a>
        <a href="{{ url_for('main.library') }}" class="button-glass">Open Library</a>
    {% else %}
        <p>No game details to display.</p>
        <a href="{{ url_for('main.scan_folder') }}" class="button-glass">Folder Scanner</a>
        <a href="{{ url_for('main.library') }}" class="button-glass">Open Library</a>
    {% endif %}
</body>
</html>
</div>
{% endblock %}