<!-- templates/unmatched_folders.html -->
{% extends "base.html" %}

{% block content %}

<div class="glass-panel-unmatchedfolder">
    <h2>Unmatched Folders</h2>
    <table class="table">
        <thead>
            <form action="{{ url_for('main.delete_all_unmatched_folders') }}" method="post">
                {{ form.csrf_token }}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all unmatched folders? This cannot be undone.');">Delete All</button>
            </form>
            <tr>
                <th>Folder Path</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
            {% for folder in folders %}
            <tr>
                
                    <td>{{ folder.folder_path }}</td>
                    <td>{{ folder.status }}</td>
                
                <td>
                    
                    <form method="post" action="{{ url_for('main.update_unmatched_folder_status') }}">
                        <input type="hidden" name="folder_id" value="{{ folder.id }}">
                        <input type="hidden" name="new_status" value="Ignore">
                        {{ form.csrf_token }}
                        <input type="submit" class="button" value="Ignore">
                    </form>
                    <!-- New Edit Form -->
                    <form action="{{ url_for('main.add_game_manual') }}" method="GET" style="display: inline;">
                        <input type="hidden" name="full_disk_path" value="{{ folder.folder_path }}">
                        <input type="hidden" name="from_unmatched" value="true">
                        <input type="submit" class="button" value="Edit">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
