<!-- templates/scan_jobs_management.html -->

{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/css/scan_management.css">
            <!-- Back to Dashboard Button -->
            <div class="container mt-3">
                <a href="{{ url_for('main.admin_dashboard') }}" class="btn btn-lg btn-primary">Back to Dashboard</a>
            </div>

<div class="container mt-3">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="autoScan-tab" data-bs-toggle="tab" href="#autoScan">Auto Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="manualScan-tab" data-bs-toggle="tab" href="#manualScan">Manual Scan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="unmatchedFolders-tab" data-bs-toggle="tab" href="#unmatchedFolders">Unmatched Folders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="deleteLibrary-tab" data-bs-toggle="tab" href="#deleteLibrary">Delete Library</a>
        </li>
    
    </ul>
    

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- Auto Scan Tab -->
        <div id="autoScan" class="glass-panel tab-pane active"><br>
            
            <h3>Automatic Folder Scan</h3>
            <form action="" method="post">
                {{ auto_form.hidden_tag() }}
                <div class="form-group">
                    {{ auto_form.folder_path.label }}
                    {{ auto_form.folder_path(class="form-control") }}
                    {% if auto_form.folder_path.errors %}
                        {% for error in auto_form.folder_path.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">

                    <button id="browseFoldersBtn" type="button" class="btn btn-info" data-browse-url="{{ url_for('main.browse_folders_ss') }}">Browse Folders</button>
                    <button type="submit" name="submit" value="AutoScan" class="btn btn-primary">Start On-Demand Scan</button>

                    <div id="loadingSpinner" class="loading-spinner" style="display: none;">
                        <img src="/static/newstyle/searching_small.gif" alt="Loading...">
                    </div>
                    <button id="upFolderBtn" type="button" class="btn btn-secondary" style="display: none;">Up</button>

                    <div id="folderContents">
                        
                    </div>
                 
                    
                </div>
            </form>

            <div class="glass-panel-scanfolder">
                <h2>Scan Jobs</h2>
                <form action="{{ url_for('main.clear_all_scan_jobs') }}" method="post">
                     {{ csrf_form.csrf_token }}
                    <input type="submit" value="Clear All" class="btn btn-danger" onclick="return confirm('Delete ALL jobs?');">
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Folders</th>
                            <th>Status</th>
                            <th>Last Run</th>
                            <th>Next Run</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <td>{{ job.id.split('-')[0] }}</td>
                            <td>{{ job.folders }}</td>
                            <td>{{ job.status }}</td>
                            <td>{{ job.last_run.strftime('%Y-%m-%d %H:%M:%S') if job.last_run else '' }}</td>
                            <td>{{ job.next_run.strftime('%Y-%m-%d %H:%M:%S') if job.next_run else 'None' }}</td>

                            
                            <td>
                                <form action="{{ url_for('main.delete_scan_job', job_id=job.id) }}" method="post">
                                    {{ csrf_form.csrf_token }}
                                    <input type="submit" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this scan job?');">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Manual Scan Tab -->
        <div id="manualScan" class="glass-panel tab-pane fade"><br>
            <h3>Manual Folder Scan</h3>
            <form action="" method="post">
                {{ manual_form.hidden_tag() }}
                <div class="form-group">
                    {{ manual_form.folder_path.label }}
                    {{ manual_form.folder_path(class="form-control", id="manualFolderPath") }}
                                        {% if manual_form.folder_path.errors %}
                        {% for error in manual_form.folder_path.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    <button id="browseFoldersBtnManual" type="button" class="btn btn-info">Browse Folders</button>
                    <button type="submit" name="submit" value="ManualScan" class="btn btn-primary">List Games</button>
                    <button id="upFolderBtnManual" type="button" class="btn btn-secondary" style="display: none;">Up</button>

                </div>
            </form>
            <div id="loadingSpinnerManual" class="loading-spinner" style="display: none;">
                <img src="/static/newstyle/searching_small.gif" alt="Loading...">
            </div>
            <div id="folderContentsManual"></div>
        

            {% if game_names_with_ids %}
                <h4>Found Games:</h4>
                <div class="list-group">
                    {% for game in game_names_with_ids %}
                        <a href="{{ url_for('main.add_game', game_name=game['name']) }}" class="list-group-item list-group-item-action">
                            {{ game['name'] }}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Unmatched Folders Tab -->
        <div id="unmatchedFolders" class="container tab-pane fade"><br>
            <div class="glass-panel">
                <h3>Resolve Unmatched Folders</h3>
                <!-- spinner -->
                <div id="globalSpinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <img src="{{ url_for('static', filename='/newstyle/pirate_treasure.gif') }}" alt="Loading...">
                </div>

                <div class="container-unmatched-buttons mb-3">
                    <form action="" method="post">
                        {{ csrf_form.csrf_token }}
                        <input type="hidden" name="submit" value="DeleteAllUnmatched">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete all entries in the list? This cannot be undone.');">Clear All</button>
                    </form>
                    <form action="" method="post">
                        {{ csrf_form.csrf_token }}
                        <input type="hidden" name="submit" value="DeleteOnlyUnmatched">
                        <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to clear all unmatched folders? This cannot be undone.');">Clear Unmatched</button>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Folder Path</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for folder in unmatched_folders %}
                        <tr>
                            <td>{{ folder.folder_path }}</td>
                            <td>{{ folder.status }}</td>
                            <td>
                                <form method="post" action="{{ url_for('main.update_unmatched_folder_status') }}" style="display: inline;">
                                    {{ csrf_form.csrf_token }}
                                    <input type="hidden" name="folder_id" value="{{ folder.id }}">
                                    <input type="hidden" name="new_status" value="Ignore">
                                    <input type="submit" class="btn btn-secondary btn-sm" value="Ignore">
                                </form>

                                <form class="delete-folder-form" style="display: inline;">
                                    {{ csrf_form.csrf_token }}
                                    <input type="hidden" name="folder_path" value="{{ folder.folder_path }}">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete Folder</button>
                                </form>


                                <!-- New Edit Form -->
                                <form action="{{ url_for('main.add_game_manual') }}" method="GET" style="display: inline;">
                                    <input type="hidden" name="full_disk_path" value="{{ folder.folder_path }}">
                                    <input type="hidden" name="from_unmatched" value="true">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Identify">
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div id="deleteLibrary" class="glass-panel tab-pane fade"><br>
            <h3>Delete Library</h3>
            <p>This action will delete all games in the library. Proceed with caution.</p>
            <p>Number of games currently in the library: <strong>{{ game_count }}</strong></p>
            <button id="deleteAllGamesBtn" class="btn btn-danger" data-toggle="modal" data-target="#deleteWarningModal">Delete All Games</button>               
              <!-- Spinner -->
                 <div id="spinner" class="spinner"></div>
        
        </div>

        <!-- Bootstrap Modal for Warning Confirmation -->
        <div class="modal fade" id="deleteWarningModal" tabindex="-1" role="dialog" aria-labelledby="deleteWarningModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteWarningModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete all games? This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form action="{{ url_for('main.delete_all_games') }}" method="post">
                    {{ csrf_form.csrf_token }}
                    <button type="submit" class="btn btn-danger">Confirm Delete</button>
                </form>

            </div>
        </div>
       
    </div>
</div>
<script src="{{ url_for('static', filename='js/scan_management.js') }}"></script>
<script>
function showSpinner() {
    document.getElementById('globalSpinner').style.display = 'block';
}

function hideSpinner() {
    document.getElementById('globalSpinner').style.display = 'none';
}

document.addEventListener('DOMContentLoaded', function() {
    console.log("Document loaded. Setting up form submission handlers and tab activation based on activeTab.");

    document.querySelectorAll('.delete-folder-form').forEach(form => {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            showSpinner();
            
            const folderPath = form.querySelector('[name="folder_path"]').value; // Ensure this matches your form structure
            console.log("Attempting to delete folder with path:", folderPath); // Debugging log
            
            fetch('/delete_folder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': "{{ csrf_token() }}" // Adjust as needed
                },
                body: JSON.stringify({folder_path: folderPath})
            })
            .then(response => response.json())
            .then(data => {
                console.log("Server response:", data); // Log the server response
                
                if(data.status === 'success') {
                    console.log("Deletion successful, removing row.");
                    form.closest('tr').remove();
                } else {
                    console.log("Deletion not successful:", data.message); // Log failure message
                    // If you want to remove the row even when the folder doesn't exist, adjust logic here
                    if (data.message === "The specified path does not exist or is not a folder. Entry removed if it was in the database.") {
                        console.log("Folder does not exist, removing row.");
                        form.closest('tr').remove(); // This line assumes your condition for removing the row matches this message
                    }
                }
                alert(data.message); // Show message to user
            })
            .catch(error => {
                console.error('Fetch error:', error); // Log any fetch error
            })
            .finally(() => {
                hideSpinner(); // Ensure spinner is always hidden after operation
            });
        });
    });
    

        var activeTab = "{{ active_tab }}";
        console.log("Active tab determined from server-side:", activeTab);

        if (activeTab === 'manual') {
            console.log("Activating manualScan tab.");
            new bootstrap.Tab(document.querySelector('#manualScan-tab')).show();
        } else if (activeTab === 'unmatched') {
            console.log("Activating unmatchedFolders tab.");
            new bootstrap.Tab(document.querySelector('#unmatchedFolders-tab')).show();
        } else if (activeTab === 'deleteLibrary') {
            console.log("Activating deleteLibrary tab.");
            new bootstrap.Tab(document.querySelector('#deleteLibrary-tab')).show();
        } else {
            console.log("Defaulting to activating autoScan tab.");
            new bootstrap.Tab(document.querySelector('#autoScan-tab')).show();
        }
        
        var deleteAllGamesBtn = document.getElementById('deleteAllGamesBtn');
        if (deleteAllGamesBtn) {
            deleteAllGamesBtn.addEventListener('click', function() {
                console.log("Showing delete warning modal.");
                var deleteWarningModal = new bootstrap.Modal(document.getElementById('deleteWarningModal'));
                deleteWarningModal.show();
            });
        }
    });
</script>

            
{% endblock %}
