{% extends "base.html" %}

{% block content %}


<div class="container-builder">
    <div class="content-flash">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>
    <div class="glass-panel-scanfolder">
        <h2>Scan Folder for Games</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.folder_path.label }}<br>
                {{ form.folder_path(size=32) }}
                {% if form.folder_path.errors %}
                    {% for error in form.folder_path.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                {% endif %}
            </p>
            <p>{{ form.scan() }} {{ form.cancel() }}</p>
        </form>
        {% if game_names_with_ids %}
            <h2>Found Games:</h2>
            <div class="glass-panel-scanfolder-fg">
                <div class="games-list">
                {% for game in game_names_with_ids %}
                    <div class="game-entry">
                        <span class="game-name">{{ game['name'] }}</span>
                        <!-- Add button for each game -->
                        <a href="{{ url_for('main.add_game', game_name=game['name']) }}" class="button-glass-mini">Add</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
