<!-- templates/scan_jobs_manager.html -->
{% extends "base.html" %}

{% block content %}


<div class="glass-panel-scanfolder">
    <h2>Scan Jobs</h2>
    <form action="{{ url_for('main.clear_all_scan_jobs') }}" method="post">
        {{ form.csrf_token }}
        <input type="submit" value="Clear All" class="btn btn-danger" onclick="return confirm('Delete ALL jobs?');">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Folders</th>
                <th>Status</th>
                <th>Last Run</th>
                <th>Next Run</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.folders }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.last_run }}</td>
                <td>{{ job.next_run }}</td>
                <td>
                    <form action="{{ url_for('main.delete_scan_job', job_id=job.id) }}" method="post">
                        {{ form.csrf_token }}
                        <input type="submit" value="Delete" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this scan job?');">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
